section.service-introduction
	.container
		.block-title.color-blue
			.title
				h2.lcl.lcl-1 GIỚI THIỆU ĐỘI XE
		.content-introduction
			p Là một trong số ít doanh nghiệp lữ hành uy tín sở hữu đội xe vận chuyển du lịch phục vụ du khách trên mọi miền đất nước và  suốt tuyến sang Lào, Campuchia, sau 30 năm phát triển và nổ lực không ngừng, Du lịch Hòa Bình luôn được khách hàng trong và ngoài nước đánh giá cao với:
			p + Đội xe hiện đại, chất lượng cao
			p + Cung cách phục vụ ân cần và chuyên nghiệp
			p + Đôi ngũ lái xe thân thiện, vững chuyên môn, giỏi tay nghề
			p + Luôn chấp hành pháp luật, đảm bảo an toàn cao nhất cho hành khách
			p Du lịch Hòa Bình tiếp tục giữ vững các danh hiệu uy tín của ngành vận chuyển du lịch trong suốt nhiều năm liền:
			p + Top 5 hãng vận chuyển du lịch hàng đầu Thành phố Hồ Chí Minh
			p + “Doanh nghiệp vận chuyển ô tô bằng đường bộ hàng đầu Việt Nam”
			p Đội xe của Du lịch Hòa Bình sẽ luôn là người bạn đồng hành tin cậy với tất cả khách hàng và đối tác; luôn nêu cao ý thức trách nhiệm bảo vệ tài sản và tính mạng cho khách du lịch, tích cực tham gia xây dựng môi trường du lịch lành mạnh.