.contact {
	margin: 50px 0;

	.box-info-contact {
		width     : 100%;
		max-width : 500px;
		margin    : 0 auto;
		text-align: center;

		h3,
		p {
			font-size: 18px;
			color    : #666666;
		}

		h3 {
			margin-bottom: 15px;
			font-weight  : 700;
		}

		.block {
			display        : flex;
			justify-content: center;
			color          : #666666;

			.item {
				margin-right: 15px;
				font-size   : 18px;

				span {
					display    : inline-block;
					margin-left: 10px;
					font-weight: 400;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	.list-phone-number {
		margin: 25px 0;
	}

	.item-phone-number {
		display      : flex;
		flex-wrap    : wrap;
		align-items  : center;
		margin-bottom: 15px;
		margin-right : -15px;
		margin-left  : -15px;

		p,
		span {
			-ms-flex        : 0 0 100%;
			-webkit-box-flex: 0;
			flex            : 0 0 50%;
			max-width       : 50%;
			padding-right   : 15px;
			padding-left    : 15px;
		}

		p {
			font-size : 18px;
			color     : map-get($mau, main);
			font-style: italic;
			text-align: right;
		}

		span {
			display    : inline-block;
			font-weight: 700;
			font-size  : 30px;
			color      : map-get($mau, main-2);
			font-style : normal;
		}
	}

	@media (max-width: 1024.98px) {
		.item-phone-number {
			p {
				font-size: 16px;
			}

			span {
				font-size: 18px;
			}
		}
	}

	@media (max-width: 767.98px) {
		.box-info-contact {

			h3,
			p {
				font-size: 14px;
			}

			.block {
				.item {
					font-size: 14px;
				}
			}
		}
	}
}