section.contact
	.container
		.block-title.color-blue
			.title
				h2.lcl.lcl-1 LIÊN HỆ
			.box-info-contact
				h3 CÔNG TY CỔ PHẦN DU LỊCH HÒA BÌNH VIỆT NAM
				p 60 Võ Văn Tần, Phường 6, Quận 3, TP.HCM, Việt Nam
				.block
					.item
						strong Email:
							span peacetour@hcm.vnn.vn
					.item
						strong Fax:
							span (+84) 28 39 304 416
		.row.list-phone-number
			.item-phone-number.col-md-6
				p Giao dịch khách lẻ
				span 0917 603 089
			.item-phone-number.col-md-6
				p Dịch vụ visa, hộ chiếu
				span 0917 603 089
			.item-phone-number.col-md-6
				p Khách đoàn du lịch nước ngoài
				span 0917 603 089
			.item-phone-number.col-md-6
				p Cho thuê xe
				span 0917 603 089
			.item-phone-number.col-md-6
				p Đặt phòng khách sạn
				span 0917 603 089
			.item-phone-number.col-md-6
				p Khách đoàn du lịch trong nước
				span 0917 603 089
			.item-phone-number.col-md-6
				p Vé máy bay
				span 0917 603 089
			.item-phone-number.col-md-6
				p Đặt tiệc cưới, hội nghị
				span 0917 603 089
			.item-phone-number.col-md-6
				p Tàu cao tốc - tàu phà
				span 0917 603 089
		.block-form
			form(action="#")
				.form-row
					.form-group.col-md-6
						label
							input.input-validation-error(type="text" placeholder="Họ tên *")
						span.field-validation-error
							span Contact_Name_Required
					.form-group.col-md-6
						label
							input.input-validation-error(type="text" placeholder="Số điện thoại *")
						span.field-validation-error
							span Contact_Name_Required
					.form-group.col-md-12
						label
							input.input-validation-error(type="text" placeholder="Thư điện tử *")
						span.field-validation-error
							span Contact_Name_Required
					.form-group.col-md-12
						label
							textarea.input-validation-error(name="", cols="30", rows="10" placeholder="Nội dung *")
						span.field-validation-error
							span Contact_Name_Required
					.form-group.col-md-12
						button.btn.btn-submit-2 GỬI
	// GOOGLE MAP
	#map