section.other-day-tour
	.container
		.block-title.color-blue
			.title
				h2.lcl.lcl-1 BUÔN MA THUỘT
			.row.no-gutters.list-item-other-day-tour
				-for(i=1;i<3;i++)
					.item__other-day-tour.hover-style-1.col-lg-12
						.item__img.img
							img.ofcv.lazyload.blur-up(data-src="./assets/images/product-detail/"+i+".jpeg", alt="")
						.item__content
							.content__top
								time
									span.cl-main--2 20.08
									span.cl-main 2020
								h2.cl-main.clc.lcl-1 BUÔN MA THUỘT
							.content__bottom.row
								.col-lg-7.list-info-tour
									.item
										p Mã tour:
											span.lcl.lcl-1 HBO-GEG-ENGSCO-7N-020820HBO-GEG-ENGSCO-7N-020820HBO-GEG-ENGSCO-7N-020820HBO-GEG-ENGSCO-7N-020820HBO-GEG-ENGSCO-7N-020820
									.item
										p Thời gian:
											span.lcl.lcl-1 7 ngày 6 đêm
									.item
										p Nơi khởi hành:
											span.lcl.lcl-1 Hồ Chí Minh
									.item
										p Số chỗ còn nhận:
											span.lcl.lcl-1 25/25
								.col-lg-5
									.price.lcl.lcl-1 13,965,000 VNĐ/khách
									a.btn.btn-submit-2.mx-at.d-f.ta-c.tt-u(href="product-detail--tour.html") xem thêm