section.other-day-tour
	.container
		.block-title.color-blue
			.title
				h2.lcl.lcl-1 BUÔN MA THUỘT
			.row.list-item-other-day-tour
				-for(i=1;i<3;i++)
					.item__other-day-tour.col-lg-12
						.item__img
							img.ofcv.lazyload.blur-up(data-src="./assets/images/product-detail/"+i+".jpeg", alt="")
						.item__content
							.content__top
								h2.cl-main BUÔN MA THUỘT
								time.cl-main--2 17/04/2020
							.content__bottom