section.service-introduction
	.container
		.block-title.color-blue.text-left
			.title
				h2.lcl.lcl-1 TÀU HÒA BÌNH
		.content-introduction
			p Hệ thống tàu cao tốc Hòa Bình Seabus được đóng mới hoàn toàn theo tiêu chuẩn quốc tế có thiết kế 2 tầng , sức chứa lên đến hơn 300 khách. Khoang tàu được chia thành 2 khoang: khoang hành khách và khoang VIP được bố trí thông thoáng với đầy đủ các trang thiết bị an toàn (phao bè, áo phao cá nhân, pháo sáng, thiết bị thông tin), tuân thủ  đúng quy trình, quy định an toàn đường thủy.
			p Động cơ vận hành tàu Hòa Bình Seabus 01 được nhập khẩu trực tiếp từ Hoa Kỳ giúp rút ngắn thời gian di chuyển từ  Phú Quốc và đất liền xuống còn 2 tiếng 15 phút. Tàu được thiết kế theo các tiêu chuẩn nghiệm ngặt để có thể đảm bảo hoạt động an toàn trong điều kiện thời tiết khắc nghiệt, gió cấp 7-8.
			p Ngoài ra hệ thống tàu thương hiệu Seabus còn được trang bị đầy đủ tiền nghi hạng sang bao gồm mini bar, internet, các chương trình giải trí qua màn ảnh nhằm đáp ứng cao nhất nhu cầu giải trí, thư giãn và nghỉ ngơi cho du khách trong suốt hành trình.
			p Ngoài ra, tàu phà hai thân Hòa Bình Ship 30 có trọng tải 119 tấn với 452 ghế ngồi và khả năng chuyên chở  xe ô tô, mô tô, xe tải và hàng hóa sẽ được sớm đưa vào họt động. Tàu Hòa Bình Seabus dự kiến sẽ tăng số lượng tàu và mở rộng hoạt động sang các tuyến Côn Đảo và  Lý Sơn.
			p Quý khách có nhu cầu đặt chỗ cho hành trình của mình vui lòng liên hệ với bộ phận vé tàu: Hotline: 0898 303 989 để hoặc đặt vé online tại:
			a(href="http://online.hoabinhship.com.vn/Booking?RouteId=1&DepartDate=2019-07-01&NoOfPassenger=1") http://online.hoabinhship.com.vn/Booking?RouteId=1&DepartDate=2019-07-01&NoOfPassenger=1
			strong Lịch trình tàu chạy :
		.table-training-schedule
			table
				thead
					tr
						th TÀU/TUYẾN
						th THỜI GIAN XUẤT PHÁT
						th THỜI GIAN CẬP BẾN
				tbody
					tr
						td Phú Quốc - Rạch Giá
						td 8h
						td 10h30
					tr
						td Rạch Giá - Phú Quốc
						td 12h30
						td 15h
			table
				thead
					tr
						th TÀU/TUYẾN
						th GIÁ VÉ NGƯỜI LỚN
						th GIÁ VÉ TRẺ EM
						th GIÁ VÉ NGƯỜI CAO TUỔI
						th GHI CHÚ
				tbody
					tr
						td TÀU CAO TỐC HÒA BÌNH SHIP
						td 333.000 VND
						td 240.000 VND
						td 280.000VND
						td(colspan="2" rowspan="2")
							p
								i * Trẻ em từ 6 - 11 tuổi. (Có người lớn đi kèm)
							p
								i * Người cao tuổi: hành khách trên 60 tuổi
					tr
						td TÀU PHÀ HÀ TIÊN - PHÚ QUỐC
						td Đang cập nhật
						td Đang cập nhật
						td Đang cập nhật