section.banner
	.slider-banner
		.swiper-container
			.swiper-wrapper
				-for(i=1;i<4;i++)
					.swiper-slide
						a.swiper-inner(href="#" style="background-image: url(./assets/images/banner/"+i+".webp")
							figure.ov-h
								img.ofcv(src="./assets/images/banner/"+i+".webp")
			.swiper-pagination