section.product-information-detail
	.container
		.row
			.col-lg-9.tab-container
				.list-tab.pid-tab-items.row.no-gutters
					.item(toggle-for="1")
						h5.tt-u.fw-700.lcl.lcl-1.ta-c chương trình tour
					.item(toggle-for="2")
						h5.tt-u.fw-700.lcl.lcl-1.ta-c chi tiết tour
					.item(toggle-for="3")
						h5.tt-u.fw-700.lcl.lcl-1.ta-c lưu ý
					.item(toggle-for="4")
						h5.tt-u.fw-700.lcl.lcl-1.ta-c ý kiến khách hàng
				.tab-content.pid__tab-contents
					.content(tab-id="1")
						.tour-program
							.item__title
								h3.cl-main--2.tt-u.lcl.lcl-1 ngày 1
								h2.lcl.lcl-1.ta-c.lcl.lcl-1 TP.HCM - ĐÀI BẮC - CHỢ ĐÊM TÂY MÔN ĐỈNH
							.item__content
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus facere vero sunt eaque, enim similique cum quisquam dolorum minima optio, fuga excepturi exercitationem alias rerum delectus, at ea aliquid! Impedit.
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus facere vero sunt eaque, enim similique cum quisquam dolorum minima optio, fuga excepturi exercitationem alias rerum delectus, at ea aliquid! Impedit.
						.tour-program
							.item__title
								h3.cl-main--2.tt-u.lcl.lcl-1 ngày 2
								h2.lcl.lcl-1.ta-c.lcl.lcl-1 ĐÀI BẮC - THẬP PHẦN - DÃ LIỄU - TAIPEI 101
							.item__content
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus facere vero sunt eaque, enim similique cum quisquam dolorum minima optio, fuga excepturi exercitationem alias rerum delectus, at ea aliquid! Impedit.
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus facere vero sunt eaque, enim similique cum quisquam dolorum minima optio, fuga excepturi exercitationem alias rerum delectus, at ea aliquid! Impedit.
						.tour-program
							.item__title
								h3.cl-main--2.tt-u.lcl.lcl-1 ngày 3
								h2.lcl.lcl-1.ta-c.lcl.lcl-1 ĐÀI BẮC - NAM ĐẦU - ĐÀI TRUNG - HÁI TRÁI CÂY
							.item__content
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus facere vero sunt eaque, enim similique cum quisquam dolorum minima optio, fuga excepturi exercitationem alias rerum delectus, at ea aliquid! Impedit.
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus facere vero sunt eaque, enim similique cum quisquam dolorum minima optio, fuga excepturi exercitationem alias rerum delectus, at ea aliquid! Impedit.
						.tour-program
							.item__title
								h3.cl-main--2.tt-u.lcl.lcl-1 ngày 4
								h2.lcl.lcl-1.ta-c.lcl.lcl-1 ĐÀI TRUNG - HỒ NHẬT NGUYỆT - CAO HÙNG
							.item__content
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus facere vero sunt eaque, enim similique cum quisquam dolorum minima optio, fuga excepturi exercitationem alias rerum delectus, at ea aliquid! Impedit.
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus facere vero sunt eaque, enim similique cum quisquam dolorum minima optio, fuga excepturi exercitationem alias rerum delectus, at ea aliquid! Impedit.
						.tour-program
							.item__title
								h3.cl-main--2.tt-u.lcl.lcl-1 ngày 5
								h2.lcl.lcl-1.ta-c.lcl.lcl-1 CAO HÙNG - TP. HỒ CHÍ MINH
							.item__content
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus facere vero sunt eaque, enim similique cum quisquam dolorum minima optio, fuga excepturi exercitationem alias rerum delectus, at ea aliquid! Impedit.
								p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus facere vero sunt eaque, enim similique cum quisquam dolorum minima optio, fuga excepturi exercitationem alias rerum delectus, at ea aliquid! Impedit.
					.content(tab-id="2")
						.tour-detail
							.item__title
								h2.cl-main.tt-u THÔNG TIN VẬN CHUYỂN
							.item__content
								p - Vé máy bay quốc tế khứ hồi Saigon – Đài Bắc // Cao Hùng – Saigon theo đoàn, bay với hãng Vietjet Air.
								p - Xe du lịch máy lạnh phục vụ theo chương trình.
						.tour-detail
							.item__title
								h2.cl-main.tt-u THÔNG TIN KHÁCH SẠN
							.item__content
								p Khách sạn 3 - 4 sao, tiêu chuẩn 1 phòng 2 khách.
						.tour-detail
							.item__title
								h2.cl-main.tt-u THÔNG TIN HƯỚNG DẪN VIÊN
							.item__content
								p Cập nhật khi đăng ký tour.
						.tour-detail
							.item__title
								h2.cl-main.tt-u THÔNG TIN HƯỚNG DẪN VIÊN TIỄN
							.item__content
								p Cập nhật khi đăng ký tour.
						.tour-detail
							.item__title
								h2.cl-main.tt-u THÔNG TIN TẬP TRUNG
							.item__content
								p Cột số 5 ga đi Quốc tế  - sân bay Tân Sơn Nhất.
						.tour-detail
							.item__title
								h2.cl-main.tt-u GHI CHÚ
							.item__content
								p Cột số 5 ga đi Quốc tế  - sân bay Tân Sơn Nhất.
					.content(tab-id="3")
						.note-tour
							.item__title
								h2.fw-700.cl-main GIÁ VÉ BAO GỒM:
							.item__content
								ul
									li Xe đời mới, máy lạnh đưa đón khách đi theo chương trình tour.
									li Khách sạn (1 phòng/2-3 khách), có tivi, tủ lạnh, điện thoại, nước nóng vệ sinh riêng.
									li Buôn Mê Thuột: DAKRUCO, BẠCH MÃ, ĐAM SAN, CAO NGUYÊN.
									li Hồ Lak: LAK RESORT…
									li Các bữa ăn theo chương trình.
									li Hướng dẫn viên thuyết minh và phục vụ cho đoàn suốt tuyến.
									li Vé vào cửa các thắng cảnh.
									li Quà tặng du lịch: nón du lịch, khăn lạnh, nước uống trên đường đi.
									li Bảo hiểm du lịch theo qui định bảo hiểm Việt Nam với mức tối đa là 40.000.000 đồng/trường hợp.
						.note-tour
							.item__title
								h2.fw-700.cl-main LƯU Ý:
							.item__content
								ul
									li Khởi hành lúc 5h30.
									li Đón và trả khách tại cung Văn hoá Lao động TP.HCM.
									li Chương trình có thể thay đổi hoặc sắp xếp lại, nhưng vẫn đầy đủ theo nội dung trên.
						.note-tour
							.item__title
								h2.fw-700.cl-main GIÁ VÉ KHÔNG BAO GỒM:
							.item__content
								ul
									li Các khoản phụ thu. Giao lưu cồng chiêng với đồng bào dân tộc.
									li Tiền cưỡi voi, bơi thuyền độc mộc và các chi phí ăn uống, vui chơi giải trí cá nhân.
						.note-tour
							.item__title
								h2.fw-700.cl-main GIÁ VÉ TRẺ EM:
							.item__content
								ul
									li Trẻ em từ 12 tuổi trở lên mua 01 vé.
									li Trẻ em từ 06 đến 11 tuổi mua 1/2 vé.
									li Trẻ em từ 05 tuổi trở xuống: Không tính vé, gia đình tự lo cho bé. Nhưng 02 người lớn chỉ được kèm 01 trẻ em, nếu trẻ em đi kèm nhiều hơn thì từ em thứ 02 trở lên phải mua 1/2 vé. (Tiêu chuẩn 1/2 vé: được 01 suất ăn + 01 ghế ngồi và ngủ ghép chung phòng với gia đình).
						.note-tour
							.item__title
								h2.fw-700.cl-main ĐIỀU KIỆN THANH TOÁN:
							.item__content
								ul
									li Sau khi xác nhận dịch vụ, quý khách vui lòng  thanh toán 50% tiền cọc giữ chỗ và thanh toán 100%  trước ngày khởi hành 5 ngày làm việc (đối với tour Du Lịch định kỳ, ngày thường).
						.note-tour
							.item__title
								h2.fw-700.cl-main ĐIỀU KIỆN HỦY DỊCH VỤ:
							.item__content
								ul
									li Hủy vé sau khi đặt cọc : phí hủy 10% tiền tour.
									li Hủy vé 5 ngày trước ngày khởi hành: phí hủy 20% tiền tour.
									li Hủy vé 4-2 ngày trước ngày khởi hành: phí hủy 50% tiền tour.
									li Hủy vé 1 ngày trước ngày khởi hành /ngay trong ngày khởi hành: phí hủy 100% tiền tour.
						.not-tour
							.item__content
								h5.cl-main--2 *** Trường hợp quý khách đến trễ giờ khởi hành được tính là hủy ngay trong ngày.
					.content(tab-id="4")
						.comments-product
							.header__comment.d-f
								.count__comment
									p 0
										span Bình luận
								.filter__comment.d-f
									p.active Mới nhất
									p Cũ nhất
							.contents__comment
								.item__comment.ai-c.d-f
									.avatar__comment.ov-h
										img.ofcv(src="", alt="AVATAR-USER")
									.input__comment
										label
											input(type="text" placeholder="Nhập ý kiến của bạn...")
								.item__comment.ai-c.d-f
									.avatar__comment.ov-h
										img.ofcv(src="", alt="AVATAR-USER")
									.input__comment
										p Đây là một trải nghiệm hết sức tuyệt vời đối với tôi !!!
								.item__comment.ai-c.d-f
									.avatar__comment.ov-h
										img.ofcv(src="", alt="AVATAR-USER")
									.input__comment
										p Đây là một trải nghiệm hết sức tuyệt vời đối với tôi !!!
								.item__comment.ai-c.d-f
									.avatar__comment.ov-h
										img.ofcv(src="", alt="AVATAR-USER")
									.input__comment
										p Đây là một trải nghiệm hết sức tuyệt vời đối với tôi !!!
			.col-lg-3
				.other-products.row
					.title.col-lg-12
						h2.cl-main.tt-u tour khác
						span.cl-main--2 Theo chất lượng
					-for(i=1;i<4;i++)
						.other-product__item.hover-style-1.bg-blue.col-lg-12.col-sm-6
							a(href="product-detail--tour.html")
								.img.ov-h
									img.ofcv.lazyload.blur-up(data-src="./assets/images/item/"+i+".jpg", alt="SAN-PHAM-KHAC")
									span.read-more.tt-u xem thêm
								.text
									h3.lcl.lcl-1.cl-main TÊN SẢN PHẨM LIÊN QUAN