.banner {
	.slider-banner {
		.swiper-slide {
			overflow: hidden;

			.swiper-inner {
				display            : block;
				background-size    : cover;
				background-position: center;
			}

			figure {
				position: relative;
				height  : 80vh;

				&:after {
					content   : '';
					position  : absolute;
					width     : 100%;
					height    : 100%;
					top       : 0;
					left      : 0;
					background: rgba($color: #464646, $alpha: .3);
				}
			}

			img {
				opacity: 0;
			}
		}

		.swiper-pagination {
			.swiper-pagination-bullet {
				width           : 15px;
				height          : 15px;
				border          : 2px solid #ffffff;
				opacity         : 1;
				border-radius   : 50%;
				background-color: rgba($color: #ffffff, $alpha: .5);
				transition      : all .2s ease-in-out;
				margin          : 0 15px;

				&.swiper-pagination-bullet-active {
					background-color: map-get($mau, main);
				}
			}
		}

		@media (max-width: 767.98px) {
			.swiper-pagination {
				display: none;
			}
		}
	}

	@media (max-width: 1024.98px) {
		.slider-banner {
			.swiper-slide {
				figure {
					height: 50vh;
				}
			}
		}
	}
}