@font-face {
	font-family: rbl2;
	src        : url('../fonts/ROBOTO-BLACK_2.TTF');
}

;

@font-face {
	font-family: rbli2;
	src        : url('../fonts/ROBOTO-BLACKITALIC_2.TTF');
}

;

@font-face {
	font-family: rbo2;
	src        : url('../fonts/ROBOTO-BOLD_2.TTF');
}

;

@font-face {
	font-family: rboc0;
	src        : url('../fonts/ROBOTO-BOLDCONDENSED_0.TTF');
}

;

@font-face {
	font-family: rb0ci0;
	src        : url('../fonts/ROBOTO-BOLDCONDENSEDITALIC_0.TTF');
}

;

@font-face {
	font-family: rboi2;
	src        : url('../fonts/ROBOTO-BOLDITALIC_2.TTF');
}

;

@font-face {
	font-family: rc0;
	src        : url('../fonts/ROBOTO-CONDENSED_0.TTF');
}

;

@font-face {
	font-family: rcbo1;
	src        : url('../fonts/ROBOTOCONDENSED-BOLD_1.TTF');
}

;

@font-face {
	font-family: rcboi1;
	src        : url('../fonts/ROBOTOCONDENSED-BOLDITALIC_1.TTF');
}

;

@font-face {
	font-family: rci0;
	src        : url('../fonts/ROBOTO-CONDENSEDITALIC_0.TTF');
}

;

@font-face {
	font-family: rcl1;
	src        : url('../fonts/ROBOTOCONDENSED-LIGHT_1.TTF');
}

;

@font-face {
	font-family: rcli1;
	src        : url('../fonts/ROBOTOCONDENSED-LIGHTITALIC_1.TTF');
}

;

@font-face {
	font-family: rcr1;
	src        : url('../fonts/ROBOTOCONDENSED-REGULAR_1.TTF');
}

;

@font-face {
	font-family: ri2;
	src        : url('../fonts/ROBOTO-ITALIC_2.TTF');
}

;

@font-face {
	font-family: rl2;
	src        : url('../fonts/ROBOTO-LIGHT_2.TTF');
}

;

@font-face {
	font-family: rli2;
	src        : url('../fonts/ROBOTO-LIGHTITALIC_2.TTF');
}

;

@font-face {
	font-family: rm2;
	src        : url('../fonts/ROBOTO-MEDIUM_2.TTF');
}

;

@font-face {
	font-family: rmi2;
	src        : url('../fonts/ROBOTO-MEDIUMITALIC_2.TTF');
}

;

@font-face {
	font-family: rr1;
	src        : url('../fonts/ROBOTO-REGULAR_1.TTF');
}

;

@font-face {
	font-family: rt2;
	src        : url('../fonts/ROBOTO-THIN_2.TTF');
}

;

@font-face {
	font-family: rti2;
	src        : url('../fonts/ROBOTO-THINITALIC_2.TTF');
}

;

@font-face {
	font-family: so;
	src        : url('../fonts/STEELFISH OUTLINE.TTF');
}

;

@font-face {
	font-family: srgit;
	src        : url('../fonts/STEELFISH RG IT.TTF');
}

;

@font-face {
	font-family: srg;
	src        : url('../fonts/STEELFISH RG.TTF');
}

;

@font-face {
	font-family: ua;
	src        : url('../fonts/UTM AVO.TTF');
}

;

@font-face {
	font-family: uabo;
	src        : url('../fonts/UTM AVOBOLD.TTF');
}

;

@font-face {
	font-family: uaboi;
	src        : url('../fonts/UTM AVOBOLD_ITALIC.TTF');
}

;

@font-face {
	font-family: uai;
	src        : url('../fonts/UTM AVOITALIC.TTF');
}

;