.company-introduce {
	margin: 25px 0;

	.content {
		h2 {
			font-size    : 28px;
			color        : map-get($mau, main);
			text-align   : center;
			margin-bottom: 10px;
		}

		p {
			font-size : 16px;
			color     : #636363;
			width     : 100%;
			max-width : 760px;
			text-align: center;
			margin    : 0 auto;
		}
	}

	@media (max-width: 575.98px) {
		.content {
			h3 {
				font-size: 18px;
			}

			p {
				font-size: 14px;
			}
		}
	}
}