section.company-introduce
	.container
		.content
			h2 GIỚI THIỆU CHUNG
			p Là một trong những ngọn cờ đầu của ngành du lịch, Du lịch Hòa Bình đã và đang khẳng định tên tuổi trong hàng ngũ các công ty du lịch lữ hành uy tín hàng đầu Thành phố Hồ Chí Minh và Việt Nam. Ngoài các dịch vụ truyền thống, Công ty đã chú trọng đầu tư và bước đầu cho ra mắt các sản phẩm trong chuỗi cung ứng dịch vụ chất lượng của chính Công ty bao gồm hệ thống resort 4 & 5 sao, Tàu cao tốc, tàu phà Hòa Bình Shipping – Seabus và Khu phức hợp cảng Bãi Vòng - Phú Quốc Harbour City. Sau 30 năm không ngừng lớn mạnh và hoạt động với phương châm: “Mang đến sự hài lòng tối đa cho khách hàng, giữ chữ tín trong kinh doanh”, Du lịch Hòa Bình tin tưởng với bề dày kinh nghiệm và cam kết về chất lượng dịch vụ, Công ty sẽ luôn là người bạn đồng hành tin cậy đối với tất cả khách hàng và các doanh nghiệp đối tác.