section.feature.no-bg-img
	.container.h-100
		.row.h-100.ai-c
			.item.col-lg-3.col-sm-6
				.block-item
					.img.ov-h
						img.lazyload.blur-up(data-src="./assets/images/feature/1.png", alt="FEATURE-HOA-BINH")
					.content
						h3.lcl.lcl-1 30 NĂM KINH NGHIỆM DU LỊCH LỮ HÀNH
						p.lcl.lcl-2 Top thương hiệu du lịch uy tín hàng đầu thành phố Hồ Chí Minh và Việt Nam
			.item.col-lg-3.col-sm-6
				.block-item
					.img.ov-h
						img.lazyload.blur-up(data-src="./assets/images/feature/2.png", alt="FEATURE-HOA-BINH")
					.content
						h3.lcl.lcl-1 DANH HIỆU ANH HÙNG LAO ĐỘNG
						p.lcl.lcl-2 TDanh hiệu vinh dự nhất cho những đóng góp và thành tích đặc biệt xuất sắc
			.item.col-lg-3.col-sm-6
				.block-item
					.img.ov-h
						img.lazyload.blur-up(data-src="./assets/images/feature/3.png", alt="FEATURE-HOA-BINH")
					.content
						h3.lcl.lcl-1 TOP 10 NHIỀU NĂM LIỀN
						p.lcl.lcl-2 TOP TEN lữ hành quốc tế 18 năm liền, doanh nghiệp lữ hành hàng đầu Hồ Chí Minh
			.item.col-lg-3.col-sm-6
				.block-item
					.img.ov-h
						img.lazyload.blur-up(data-src="./assets/images/feature/4.png", alt="FEATURE-HOA-BINH")
					.content
						h3.lcl.lcl-1 ĐƠN VỊ VẬN CHUYỂN DANH TIẾNG
						p.lcl.lcl-2 Top 5 hãng vận chuyển du lịch hàng đầu, Doanh nghiệp vận chuyển danh tiếng Việt Nam