section.service-intro
	.container
		.row
			.col-sm-6
				.block-item
					.content
						h2 SẢN PHẨM DỊCH VỤ
						p Công ty Cổ phần Du lịch Hòa Bình Việt Nam sẽ là lựa chọn lý tưởng của Quý khách qua các dịch vụ:
						ul
							li Tour du lịch trong nước và ngoài nước
							li Dịch vụ vận chuyển du lịch trong nước và liên tuyến sang Lào, Campuchia
							li Đại lý của Vietnam Airlines và các hãng hàng không Quốc tế khác
							li Thủ tục xuất nhập cảnh, dịch vụ visa, passport
							li Hướng dẫn viên; phiên dịch viên
							li Tổ chức tiệc cưới, sinh nhật, hội nghị, hội thảo
							li Đặt chỗ khách sạn, nhà hàng trong nước và ngoài nước
			.col-sm-6
				.img.ov-h
					img.ofcv(src="./assets/images/about/1.jpeg", alt="ABOUT-HOA-BINH")
section.service-intro
	.container
		.row
			.col-sm-6
				.img.ov-h
					img.ofcv(src="./assets/images/about/2.jpeg", alt="ABOUT-HOA-BINH")
			.col-sm-6
				.content
					h2 THÀNH TỰU
					p Những nỗ lực của chúng tôi trong thời gian qua đã nhận được các đánh giá tích cực từ khách hàng và được công nhận qua những giải thưởng:
					ul
						li Anh hùng lao động trong thời kỳ đổi mới
						li Thương hiệu Việt yêu thích
						li Top 10 doanh nghiệp lữ hành đầu hàng đầu Thành phố Hồ Chí Minh
						li Top 5 hãng vận chuyển du lịch hàng đầu Thành phố Hồ chí Minh
						li TOP TEN lữ hành quốc tế trong 18 năm liền
						li Doanh nghiệp vận chuyển danh tiếng Việt Nam
						li Các giải thưởng do khách hàng bình chọn trên chuyên trang Trip Advisor