.product-overview {
	margin: 50px 0;

	.slider-product-detail {

		.slider-preview {
			.img {
				height: 300px;

				img {
					display: block;
					margin : 0 auto;
				}
			}
		}

		.slider-thumbnail {
			position  : relative;
			margin-top: 10px;
			padding   : 0 25px;

			.img {
				height: 65px;

				img {
					display: block;
					margin : 0 auto;
				}
			}

			.swiper-slide {
				position: relative;
				cursor  : pointer;
				opacity : .5;

				&:after {
					content : '';
					left    : 0;
					top     : 0;
					width   : 100%;
					height  : 100%;
					position: absolute;
					border  : 2px solid transparent;
				}

				&.swiper-slide-thumb-active {
					opacity: 1;

					&:after {
						border: 2px solid map-get($mau, main);
					}
				}
			}

			.swiper-button-next,
			.swiper-button-prev {
				width     : 20px;
				height    : 20px;
				margin-top: 0;
				top       : 50%;
				transform : translateY(-50%);
				z-index   : 10;

				&:after {
					content        : '';
					width          : 100%;
					height         : 100%;
					background-size: cover;
				}
			}

			.swiper-button-next {
				right: 0;

				&:after {
					background-image: url(../assets/icons/next-slider-detail.png);
				}
			}

			.swiper-button-prev {
				left: 0;

				&:after {
					background-image: url(../assets/icons/prev-slider-detail.png);
				}
			}
		}
	}

	.information-overview {
		h1 {
			font-size    : 24px;
			color        : map-get($mau, main);
			border-bottom: 1px solid map-get($mau, main);
		}

		.list-information {
			margin-top: 25px;

			.item-information {
				margin-bottom: 10px;

				.link-color-red {
					font-size   : 18px;
					font-weight : 700;
					position    : relative;
					cursor      : pointer;
					color       : map-get($mau, main-2);
					padding-left: 30px;

					&:after {
						content          : '';
						position         : absolute;
						top              : 50%;
						left             : 0;
						transform        : translateY(-50%);
						width            : 18px;
						height           : 18px;
						background-image : url(../assets/icons/date-time.png);
						background-size  : cover;
						background-repeat: no-repeat;
					}
				}

				p {
					position   : relative;
					color      : #5d5d5d;
					font-size  : 18px;
					font-weight: 700;

					+p {
						margin-top: 10px;
					}

					span {
						font-weight: 400;
					}

					&.address {
						padding-left: 30px;

						&:afteR {
							content          : '';
							position         : absolute;
							left             : 0;
							top              : 5px;
							width            : 18px;
							height           : 18px;
							background-size  : cover;
							background-repeat: no-repeat;
							background-image : url(../assets/icons/address.png);
						}
					}
				}

				&.detail {
					display: flex;

					p {
						margin-right: 15px;
						padding-left: 30px;

						&.view,
						&.like,
						&.comment {
							position  : relative;
							margin-top: 0;

							&:after {
								content          : '';
								position         : absolute;
								top              : 50%;
								left             : 0;
								transform        : translateY(-50%);
								width            : 18px;
								height           : 18px;
								background-size  : cover;
								background-repeat: no-repeat;
							}
						}

						&.view {
							&:after {
								background-image: url(../assets/icons/view.png);
							}
						}

						&.like {
							&:after {
								background-image: url(../assets/icons/like.png);
							}
						}

						&.comment {
							&:after {
								background-image: url(../assets/icons/comment.png);
							}
						}
					}
				}
			}
		}

		.box-booking {
			display    : flex;
			align-items: center;
			flex-wrap  : wrap;
			margin-top : 15px;
		}

		.btn-submit {
			-ms-flex        : 0 0 100%;
			-webkit-box-flex: 0;
			flex            : 0 0 40%;
			max-width       : 30%;
		}

		.price {
			-ms-flex        : 0 0 100%;
			-webkit-box-flex: 0;
			flex            : 0 0 60%;
			max-width       : 60%;
			//CSS
			font-size: 30px;
			color    : map-get($mau, main-2);
			border   : 1px dashed map-get($mau, main);
			padding  : 4px 1em;
		}
	}
}