.product-information-detail {
	margin-bottom: 50px;

	@media (max-width: 1024.98px) {
		.other-products {
			padding-top: 25px;

			.other-product__item {
				margin-top   : 0;
				margin-bottom: 15px;
			}
		}
	}

	@media (max-width: 767.98px) {
		.tab-container {
			padding-bottom: 25px;
		}
	}
}

.pid-tab-items {
	padding-bottom: 5px;
	border-bottom : 1px solid #dee2e6;

	.item {
		h5 {
			cursor        : pointer;
			user-select   : none;
			position      : relative;
			font-size     : 18px;
			color         : #5d5d5d;
			padding-bottom: 5px;

			&:after {
				content   : '';
				position  : absolute;
				width     : 0;
				height    : 2px;
				bottom    : 0;
				left      : 50%;
				transform : translateX(-50%);
				background: map-get($mau, main-2);
				transition: .3s all ease-in-out;
			}
		}

		&.active {
			h5 {
				color: map-get($mau, main);

				&:after {
					width: 50%;
				}
			}
		}
	}

	@media (max-width: 767.98px) {
		.item {
			font-size: 16px;
		}
	}

	@media (max-width: 575.98px) {
		padding-bottom: 0;
		border-bottom : 1px solid map-get($mau, main);

		.item {
			border-top  : 1px solid map-get($mau, main);
			padding     : 15px 0;
			border-right: 1px solid map-get($mau, main);

			&:nth-child(2n+1) {
				border-left: 1px solid map-get($mau, main);
			}

			h5 {
				font-size: 13px;
			}
		}
	}
}

.pid__tab-contents {
	margin-top: 25px;
}

.tour-program {
	+.tour-program {
		margin-top: 25px;
	}

	.item__title {
		cursor     : pointer;
		user-select: none;
		position   : relative;
		padding    : 15px 0 15px 65px;

		h2 {
			font-size    : 18px;
			color        : map-get($mau, main);
			border-bottom: 1px solid map-get($mau, main);
			padding      : 0 10px;
		}

		h3 {
			font-family: srg;
			font-size  : 30px;
			position   : absolute;
			left       : 0;
			bottom     : 0;
			font-weight: 400;
			max-width  : 60px;
		}

		&:after {
			content     : '';
			position    : absolute;
			left        : 50%;
			bottom      : 0;
			width       : 0;
			height      : 0;
			transform   : translateX(-50%);
			transition  : .3s all ease-in-out;
			border-left : 10px solid transparent;
			border-right: 10px solid transparent;
			border-top  : 10px solid map-get($mau, main);
		}
	}

	.item__content {
		margin-top: 25px;
		display   : none;

		ul,
		p {
			color    : #5d5d5d;
			font-size: 16px;

			+p,
			+ul {
				margin-top: 5px;
			}
		}
	}

	&.active {
		.item__title {
			&:after {
				transform: translateX(-50%) rotate(180deg);
			}
		}
	}

	@media (max-width: 575.98px) {
		.item__title {
			padding: 15px 0 15px 50px;

			h2 {
				font-size: 16px;
			}

			h3 {
				font-size: 24px;
				max-width: 45px;
			}
		}

		.item__content {

			ul,
			p {
				font-size: 14px;
			}
		}
	}
}

.tour-detail {
	+.tour-detail {
		margin-top: 25px;
	}

	.item__title {
		margin-bottom: 10px;

		h2 {
			font-size: 18px;
		}
	}

	.item__content {
		padding: 5px 10px;
		border : 1px dashed #005da4;

		ul,
		p {
			color    : #5d5d5d;
			font-size: 16px;

			+p,
			+ul {
				margin-top: 5px;
			}
		}
	}

	@media (max-width: 575.98px) {
		+.tour-detail {
			margin-top: 15px;
		}

		.item__title {
			h2 {
				font-size: 16px;
			}
		}

		.item__content {

			ul,
			p {
				color    : #5d5d5d;
				font-size: 14px;

				+p,
				+ul {
					margin-top: 5px;
				}
			}
		}
	}
}

.note-tour {
	margin-bottom: 25px;

	.item__title {
		margin-bottom: 10px;

		h2 {
			font-size: 18px;
		}
	}

	.item__content {

		ul,
		p {
			color    : #5d5d5d;
			font-size: 16px;

			li {
				+li {
					margin-top: 10px;
				}
			}
		}
	}

	@media (max-width: 575.98px) {
		margin-bottom: 15px;

		.item__title {
			h2 {
				font-size: 16px;
			}
		}

		.item__content {

			ul,
			p {
				color    : #5d5d5d;
				font-size: 14px;

				li {
					+li {
						margin-top: 5px;
					}
				}
			}
		}
	}
}

.content__detail-normal {
	margin-bottom: 25px;

	.item__title {
		margin: 10px 0;

		.icon-hotel {
			position: relative;

			img {
				display   : block;
				margin    : 5px auto;
				background: #fff;
				padding   : 0 20px;
			}

			&:after {
				content         : '';
				position        : absolute;
				width           : 100%;
				height          : 1px;
				background-color: #707070;
				top             : 50%;
				transform       : translateY(-50%);
				left            : 0;
				z-index         : -1;
			}
		}

		h2 {
			font-size: 18px;
		}
	}

	.item__content {
		ul {
			margin-top: 10px;
		}

		img {
			width : 100%;
			margin: 15px 0;
		}

		ul,
		p,
		b,
		span {
			color    : #5d5d5d;
			font-size: 16px;

			&.cl-main {
				color: map-get($mau, main)
			}

			&.cl-main--2 {
				color: map-get($mau, main-2)
			}

			+p {
				margin-top: 10px;
			}

			a {
				color: #007bff;
			}

			li {
				+li {
					margin-top: 10px;
				}
			}
		}

		.list-style-1 {
			li {
				position    : relative;
				padding-left: 30px;

				&:after {
					content  : '*';
					left     : 0;
					position : absolute;
					top      : -5px;
					color    : map-get($mau, main);
					font-size: 24px;
				}
			}
		}
	}

	@media (max-width: 575.98px) {
		.item__title {
			margin: 10px 0;

			.icon-hotel {
				position: relative;

				img {
					margin: 5px 0;
				}
			}

			h2 {
				font-size : 16px;
				text-align: left;
			}
		}

		.item__content {

			ul,
			p,
			b,
			span {
				font-size: 14px;

				+p {
					margin-top: 5px;
				}

				li {
					+li {
						margin-top: 5px;
					}
				}
			}
		}
	}
}

.comments-product {
	.header__comment {
		padding-bottom: 5px;
		border-bottom : 1px solid map-get($mau, main);

		p {
			font-size: 18px;
			color    : #5d5d5d;
		}

		span {
			display    : inline-block;
			margin-left: 10px;
		}
	}

	.filter__comment {
		margin-left: auto;

		p {
			cursor     : pointer;
			user-select: none;

			+p {
				margin-left: 10px;
			}

			&.active {
				font-weight: 700;
			}
		}
	}

	.contents__comment {
		margin-top: 25px;
	}

	.item__comment {
		+.item__comment {
			margin-top: 25px;
		}
	}

	.avatar__comment {
		-ms-flex        : 0 0 100%;
		-webkit-box-flex: 0;
		flex            : 0 0 50px;
		max-width       : 50px;

		height       : 50px;
		border-radius: 50%;
		background   : map-get($mau, main);
	}

	.input__comment {
		-ms-flex-preferred-size: 0;
		-ms-flex-positive      : 1;
		-webkit-box-flex       : 1;
		flex-basis             : 0;
		flex-grow              : 1;
		max-width              : 100%;
		padding-left           : 25px;

		label {
			width: 100%;
		}

		input {
			width        : 100%;
			border       : 1px solid map-get($mau, main);
			border-radius: 5px;
			line-height  : 50px;
			padding      : 0 20px;

			&::placeholder {
				color: #5d5d5d;
			}
		}

		p {
			color: #5d5d5d;
		}
	}

	@media (max-width: 575.98px) {
		.header__comment {
			p {
				font-size: 16px;
			}
		}

		.input__comment {
			input {
				font-size  : 14px;
				line-height: 35px;
			}

			p {
				font-size: 14px;
			}
		}
	}
}

.block-form-booking-detail {
	.form-group {
		display      : flex;
		align-items  : center;
		flex-wrap    : wrap;
		margin-bottom: 10px;

		label {
			-ms-flex        : 0 0 100%;
			-webkit-box-flex: 0;
			flex            : 0 0 30%;
			max-width       : 30%;
			color           : #5d5d5d;
			font-size       : 16px;

			&.color-main {
				color: map-get($mau, main)
			}
		}

		input {
			-ms-flex        : 0 0 100%;
			-webkit-box-flex: 0;
			flex            : 0 0 70%;
			max-width       : 70%;
			border          : 1px dashed map-get($mau, main);
			padding         : 0 20px;
			line-height     : 35px;
		}

		textarea {
			-ms-flex        : 0 0 100%;
			-webkit-box-flex: 0;
			flex            : 0 0 100%;
			max-width       : 100%;
			height          : 300px;
			border          : 1px dashed map-get($mau, main);
			margin-top      : 15px;
			padding         : 20px;
		}

		p {
			font-size : 16px;
			font-style: italic;

			span {
				color: #5d5d5d;
			}
		}

		.date-picker {
			max-width: 20%;
		}
	}

	.item__title {
		position: relative;
		margin  : 25px 0;

		h2 {
			color     : #5d5d5d;
			font-size : 18px;
			padding   : 0 20px;
			background: #fff;
			max-width : 30%;
		}

		&:after {
			content         : '';
			position        : absolute;
			width           : 100%;
			height          : 1px;
			background-color: #707070;
			top             : 50%;
			transform       : translateY(-50%);
			left            : 0;
			z-index         : -1;
		}
	}

	@media (max-width: 1024.98px) {
		.form-group {
			.date-picker {
				max-width: 30%;
			}
		}
	}

	@media (max-width: 575.98px) {

		.form-group {
			label {
				flex         : 0 0 100%;
				max-width    : 100%;
				font-size    : 14px;
				margin-bottom: 10px;
			}

			input {
				-ms-flex        : 0 0 100%;
				-webkit-box-flex: 0;
				flex            : 0 0 100%;
				max-width       : 100%;
			}

			textarea {
				height    : 150px;
				margin-top: 0;
			}

			p {
				font-size: 14px;
			}

			.date-picker {
				max-width: 100%;
			}
		}

		.item__title {
			position: relative;
			margin  : 25px 0;

			h2 {
				font-size: 16px;
				max-width: 70%;
			}
		}
	}
}

.block-table__rent-car-detail {
	overflow-x: auto;

	table {
		width        : 100%;
		text-align   : center;
		margin-bottom: 5%;

		th {
			color         : map-get($mau, main);
			font-size     : 16px;
			font-weight   : 700;
			text-transform: uppercase;
		}

		td {
			font-size: 14px;

			p {
				margin-bottom: 10px;
			}
		}

		th,
		td {
			border : 2px solid #dee2e6;
			padding: 15px;
		}
	}

	@media (max-width: 575.98px) {
		max-width: 575px;

		table {
			th {
				font-size: 14px;
			}

			th,
			td {
				padding: 5px;
			}
		}
	}
}