.product-information-detail {
	margin-bottom: 50px;
}

.pid-tab-items {
	padding-bottom: 5px;
	border-bottom : 1px solid #dee2e6;

	.item {
		cursor     : pointer;
		user-select: none;
		position   : relative;
		font-size  : 18px;
		color      : #5d5d5d;

		+.item {
			margin-left: 25px;
		}

		&:after {
			content   : '';
			position  : absolute;
			width     : 0;
			height    : 2px;
			bottom    : 0;
			left      : 50%;
			transform : translateX(-50%);
			background: map-get($mau, main-2);
			transition: .3s all ease-in-out;
		}

		&.active {
			color: map-get($mau, main);

			&:after {
				width: 100%;
			}
		}
	}
}

.pid__tab-contents {
	margin-top: 25px;
}

.tour-program {
	+.tour-program {
		margin-top: 25px;
	}

	.item__title {
		cursor       : pointer;
		user-select  : none;
		position     : relative;
		padding-left : 100px;
		border-bottom: 1px solid map-get($mau, main);

		h2 {
			font-size  : 18px;
			line-height: 50px;
			color      : map-get($mau, main);
		}

		h3 {
			font-size: 18px;
			position : absolute;
			left     : 0;
			top      : 50%;
			transform: translateY(-50%);
		}

		&:after {
			content         : '';
			position        : absolute;
			right           : 0;
			top             : 50%;
			transform       : translateY(-50%) rotate(90deg);
			background-size : cover;
			width           : 20px;
			height          : 20px;
			background-image: url(../assets/icons/next-slider-detail.png);
			transition      : .3s all ease-in-out;
		}
	}

	.item__content {
		margin-top: 25px;
		display   : none;

		ul,
		p {
			color    : #5d5d5d;
			font-size: 16px;

			+p,
			+ul {
				margin-top: 5px;
			}
		}
	}

	&.active {
		.item__title {
			&:after {
				transform: translateY(-50%) rotate(-90deg);
			}
		}
	}
}

.tour-detail {
	+.tour-detail {
		margin-top: 25px;
	}

	.item__title {
		margin-bottom: 10px;

		h2 {
			font-size: 18px;
		}
	}

	.item__content {
		padding: 5px 10px;
		border : 1px dashed #005da4;

		ul,
		p {
			color    : #5d5d5d;
			font-size: 16px;

			+p,
			+ul {
				margin-top: 5px;
			}
		}
	}
}

.note-tour {
	margin-bottom: 25px;

	.item__title {
		margin-bottom: 10px;

		h2 {
			font-size: 18px;
		}
	}

	.item__content {

		ul,
		p {
			color    : #5d5d5d;
			font-size: 16px;

			li {
				+li {
					margin-top: 10px;
				}
			}
		}
	}
}

.comments-product {
	.header__comment {
		padding-bottom: 5px;
		border-bottom : 1px solid map-get($mau, main);

		p {
			font-size: 18px;
			color    : #5d5d5d;
		}

		span {
			display    : inline-block;
			margin-left: 10px;
		}
	}

	.filter__comment {
		margin-left: auto;

		p {
			cursor     : pointer;
			user-select: none;

			+p {
				margin-left: 10px;
			}

			&.active {
				font-weight: 700;
			}
		}
	}

	.contents__comment {
		margin-top: 25px;
	}

	.item__comment {
		+.item__comment {
			margin-top: 25px;
		}
	}

	.avatar__comment {
		-ms-flex        : 0 0 100%;
		-webkit-box-flex: 0;
		flex            : 0 0 50px;
		max-width       : 50px;

		height       : 50px;
		border-radius: 50%;
		background   : map-get($mau, main);
	}

	.input__comment {
		-ms-flex-preferred-size: 0;
		-ms-flex-positive      : 1;
		-webkit-box-flex       : 1;
		flex-basis             : 0;
		flex-grow              : 1;
		max-width              : 100%;
		padding-left           : 25px;

		label {
			width: 100%;
		}

		input {
			width        : 100%;
			border       : 1px solid map-get($mau, main);
			border-radius: 5px;
			line-height  : 50px;
			padding      : 0 20px;

			&::placeholder {
				color: #5d5d5d;
			}
		}

		p {
			color: #5d5d5d;
		}
	}
}

.block-form-book-hotel {
	.form-group {
		display  : flex;
		flex-wrap: wrap;

		label {}
	}
}