.banner {
	.slider-banner {
		.swiper-slide {
			overflow: hidden;

			.swiper-inner {
				display            : block;
				background-size    : cover;
				background-position: center;
			}

			figure {
				position: relative;
				height  : 80vh;

				&:after {
					content   : '';
					position  : absolute;
					width     : 100%;
					height    : 100%;
					top       : 0;
					left      : 0;
					background: rgba($color: #464646, $alpha: .3);
				}
			}

			img {
				opacity: 0;
			}
		}
	}

	@media (max-width: 1024.98px) {
		.slider-banner {
			.swiper-slide {
				figure {
					height: 50vh;
				}
			}
		}
	}
}