section.block-book-tour
	.container.tab-container
		.block-list-tab
			ul.list-tab
				li.item(toggle-for="1") tìm tour
				li.item(toggle-for="2") tra cứu booking
				li.item(toggle-for="3") tìm kiếm thông tin
		.tab-content
			// TÌM TOUR
			.content(tab-id="1")
				.block-form
					form(action="#")
						.form-row
							.form-group.col-lg-2.col-4
								label(for="type") Lọa tour
								select#type(name="type")
									option(value="#") trong nước
									option(value="#") nước ngoài
									option(value="#") dài ngày
									option(value="#") ngắn ngày
							.form-group.col-lg-2.col-4
								label(for="starting") Nơi khởi hành
								select#starting(name="starting")
									option(value="#") hồ chí minh
									option(value="#") phú quóc
									option(value="#") hà nội
									option(value="#") đà nẵng
							.form-group.col-lg-2.col-4
								label(for="destination") Nơi đến
								select#destination(name="destination")
									option(value="#") quy nhơn
									option(value="#") hà nội
									option(value="#") hồ chí minh
									option(value="#") huế
							.form-group.col-lg-2.col-4
								label(for="destination") Ngày khởi hàng
								input(class="date-picker")
							.form-group.col-lg-2.col-4
								label(for="price") Giá
								select#price(name="price")
									option(value="#") 0 ~ 10000
									option(value="#") 10000 ~ 20000
									option(value="#") 20000 ~ 30000
									option(value="#") 30000 ~ 40000
							.form-group.col-lg-2.col-4.block-submit
								.submit
									button.btn.btn-submit Tìm kiếm
			// TRA CỨU TOUR
			.content(tab-id="2")
				.block-form
					form(action="#")
						.form-row
							.form-group
								label(for="code-booking") Quý khách vui lòng nhập số booking vào ô trống bên dưới và nhấn nút "Tìm kiếm"
								input#code-booking(type="text" placeholder="Số booking")
								button.btn.btn-submit-2 Tìm kiếm
			// TÌM KIẾM THÔNG TIN
			.content(tab-id="3")
				.block-form
					form(action="#")
						.form-row
							.form-group
								label(for="searh-info") Tìm kiếm thông tin trên website Du lịch Hòa Bình
								input#searh-info(type="text" placeholder="Tour du lịch, điểm đến..")
								button.btn.btn-submit-2 Tìm kiếm