footer
	.container
		.row
			.col-lg-4
				.img
					img.lazyload.blur-up.mx-at(data-src="./assets/logo-footer.png", alt="LOGO-HOA-BINH")
				h3 CÔNG TY CỔ PHẦN DU LỊCH HÒA BÌNH VIỆT NAM
				ul.list-info
					li.item-info 60 Võ Văn Tần, Phường 6, Quận 3, TP.HCM, Việt Nam
					li.item-info Điện thoại: 
						span (+84) 28 730 69 888 / 1800 64 64 68
					li.item-info Fax: 
						span (+84) 28 39 304 416
					li.item-info Email: 
						span peacetour@hcm.vnn.vn
			.col-lg-4
				.block-form
					form(action="#")
						.form-row
							.form-group.col-lg-12
								label(for="#") Gửi email của bạn để được nhận thông tin từ Du Lịch Hòa Bình.
								input(type="text" placeholder="NHẬP EMAIL CỦA BẠN...")
							.form-group.col-lg-12
								button ĐĂNG KÝ NGAY
			.col-lg-4
				.img
					img.lazyload.blur-up.ml-at(data-src="./assets/bct.png", alt="LOGO-HOA-BINH")
				ul.list-info.ta-r
					li.item-info Số đăng ký kinh doanh
						br
						|
						span 0300469106 do Sở kế hoạch và đầu tư Tp.HCM cấp
					li.item-info Số giấy phép thiết lập trang TTĐTTH:
						br
						|
						span 87/GP-ICP-STTTT cấp ngày:03/03/2019
					li.item-info Người chịu trách nhiệm trang web: bà Hoàng Lê Quyên
					li.item-info Giấy phép kinh doanh Dịch vụ Lữ hành Quốc tế:
						br
						|
						span 79-220/2014/ TCDL-GPLHQT
					li.item-info © Design by Web4gsolutions