header
	// MENU TOP
	.top-header
		.container.h-100
			.row.no-gutters.ai-c.h-100
				// MENU TOP
				ul.nav-menu-top
					li.item-menu-top
						a.link-menu-top(href="about.html") Giới thiệu
					li.item-menu-top
						a.link-menu-top(href="news.html") Tin tức
					li.item-menu-top
						a.link-menu-top(href="contact.html") Liên hệ
					li.item-menu-top
						a.link-menu-top(href="library-site.html") Thư viện
				// ĐƯỜNG DÂY NÓNG
				.hot-line
					a(data-fancybox data-src="#hot-line-popup" href="javascript:;")
						.icon
							img(src="./assets/icons/phone-menu-top.png" alt="HOT-LINE")
						.text Hotline
				// ĐĂNG KÝ - ĐĂNG NHẬP
				.user-login
					a(data-fancybox data-src="#login-register-popup" href="javascript:;")
						.icon
							img(src="./assets/icons/user-menu-top.png" alt="LOGIN")
						.text Tài khoản
				// NGÔN NGỮ
				.language
					ul.list-language
						li.item.active(data-language="vi")
							img.lazyload.blur-up(data-src="./assets/icons/vi.png" alt="VIET-NAM")
						li.item(data-language="en")
							img.lazyload.blur-up(data-src="./assets/icons/en.png" alt="ENGLISH")
						li.item(data-language="jp")
							img.lazyload.blur-up(data-src="./assets/icons/jp.png" alt="JAPAN")
						li.item(data-language="fr")
							img.lazyload.blur-up(data-src="./assets/icons/fr.png" alt="FRANCE")
	// BOTTOM MENU
	.bottom-menu
		.container.h-100
			.block-logo
				a(href="index.html")
					.logo
						img.lazyload.blur-up(data-src="./assets/logo.png" alt="LOGO-HOA-BINH")
			.row.no-gutters.ai-c.h-100
				ul.nav-menu-bottom
					li.item-menu-bottom
						a.link-menu-bottom(href="products-tour.html") tour trong nước
					li.item-menu-bottom
						a.link-menu-bottom(href="products-tour.html") tour nước ngoài
					li.item-menu-bottom
						a.link-menu-bottom(href="products-hotel.html") khách sạn
					li.item-menu-bottom
						a.link-menu-bottom(href="products-restaurant.html") nhà hàng
					li.item-menu-bottom
						a.link-menu-bottom(href="rent-car.html") thuê xe
					li.item-menu-bottom
						a.link-menu-bottom(href="air-ticket.html") vé máy bay
					li.item-menu-bottom
						a.link-menu-bottom(href="ship.html") tàu hòa bình
					li.item-menu-bottom
						a.link-menu-bottom(href="other-services.html") dịch vụ khác
						ul.nav-menu-bottom
							li.item-menu-bottom
								.icon
									img.lazyload.blur-up(data-src="./assets/icons/icon-sub-menu-1.png", alt="")
								a.link-menu-bottom(href="make-passport-visa.html") làm hộ chiếu visa
							li.item-menu-bottom
								.icon
									img.lazyload.blur-up(data-src="./assets/icons/icon-sub-menu-2.png", alt="")
								a.link-menu-bottom(href="event-organization.html") tổ chức sự kiện
							li.item-menu-bottom
								.icon
									img.lazyload.blur-up(data-src="./assets/icons/icon-sub-menu-3.png", alt="")
								a.link-menu-bottom(href="interpreter.html") thông dịch viện
					li.item-menu-bottom.search
						.icon-search
							img.lazyload.blur-up(data-src="./assets/icons/search-icon.png", alt="SEARCH")
						.block-form-search
							form(action="#", method="POST")
								.form-group
									label
										input(type="text", name="" placeholder="Nhập để tìm kiếm...")
										button Tìm