.d-n
	#hot-line-popup
		.block-hot-line
			.block-title
				h2 1800 64 64 68 (miễn phí)
			.block-content.container
				.row.list-phone-number
					.item-phone-number.col-md-4
						p 0917 603 089
						span Giao dịch khách lẻ
					.item-phone-number.col-md-4
						p 0917 603 089
						span Dịch vụ visa, hộ chiếu
					.item-phone-number.col-md-4
						p 0917 603 089
						span Khách đoàn du lịch nước ngoài
					.item-phone-number.col-md-4
						p 0917 603 089
						span Cho thuê xe
					.item-phone-number.col-md-4
						p 0917 603 089
						span Đặt phòng khách sạn
					.item-phone-number.col-md-4
						p 0917 603 089
						span Khách đoàn du lịch trong nước
					.item-phone-number.col-md-4
						p 0917 603 089
						span Vé máy bay
					.item-phone-number.col-md-4
						p 0917 603 089
						span Đặt tiệc cưới, hội nghị
					.item-phone-number.col-md-4
						p 0917 603 089
						span Tàu cao tốc - tàu phà