.d-n
	#hot-line-popup
		.block-hot-line
			.block-title
				h2 1800 64 64 68 (miễn phí)
			.block-content.container
				.row.list-phone-number
					.item-phone-number.col-md-4.col-6
						a(href="tel:0917603089")
							p 0917 603 089
							span.lcl.lcl-1 Giao dịch khách lẻ
					.item-phone-number.col-md-4.col-6
						a(href="tel:0917603089")
							p 0917 603 089
							span.lcl.lcl-1 Dịch vụ visa, hộ chiếu
					.item-phone-number.col-md-4.col-6
						a(href="tel:0917603089")
							p 0917 603 089
							span.lcl.lcl-1 Khách đoàn du lịch nước ngoài
					.item-phone-number.col-md-4.col-6
						a(href="tel:0917603089")
							p 0917 603 089
							span.lcl.lcl-1 Cho thuê xe
					.item-phone-number.col-md-4.col-6
						a(href="tel:0917603089")
							p 0917 603 089
							span.lcl.lcl-1 Đặt phòng khách sạn
					.item-phone-number.col-md-4.col-6
						a(href="tel:0917603089")
							p 0917 603 089
							span.lcl.lcl-1 Khách đoàn du lịch trong nước
					.item-phone-number.col-md-4.col-6
						a(href="tel:0917603089")
							p 0917 603 089
							span.lcl.lcl-1 Vé máy bay
					.item-phone-number.col-md-4.col-6
						a(href="tel:0917603089")
							p 0917 603 089
							span.lcl.lcl-1 Đặt tiệc cưới, hội nghị
					.item-phone-number.col-md-4.col-6
						a(href="tel:0917603089")
							p 0917 603 089
							span.lcl.lcl-1 Tàu cao tốc - tàu phà