section.list-of-products
	.container
		.block-title
			.title
				h2.lcl.lcl-1 DỊCH VỤ KHÁC
			.desc
				p Tư vấn dịch vụ pháp lý, dịch vụ làm passport, thủ tục làm visa du lịch, visa công tác ngắn hạn và dài hạn các quốc gia trên thế giới, dịch vụ cho thuê hướng dẫn viên, thông dịch viên và tổ chức sự kiện chuyên nghiệp
		.row.list-item
			-for(i=1;i<4;i++)
				.item-product.col-lg-4.col-sm-6
					a(href="make-passport-visa.html")
						.block-item.hover-style-1
							.img.ov-h
								img.ofcv.lazyload.blur-up(data-src="./assets/images/other-service/"+i+".jpeg", alt="TOUR-DU-LICH-HOA-BINH")
							.content
								.box-info
									h2 TÊN DỊCH VỤ
									.text Với cuộc sống ngày càng phát triển, du lịch đã trở thành một nhu cầu thiết yếu của mọi người, ngày nay việc du lịch nước ngoài không còn quá khó khăn nữa...