section.list-tour-type
	.container
		.slider-tour-type
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						a(href="#")
							figure
								img.swiper-lazy(data-src="./assets/images/tour-type/1.jpg", alt="MIEN-BAC")
								.swiper-lazy-preloader.swiper-lazy-preloader-black
								figcaption
									p Miền Bắc
					.swiper-slide
						a(href="#")
							figure
								img.swiper-lazy(data-src="./assets/images/tour-type/2.jpg", alt="MIEN-NAM")
								.swiper-lazy-preloader.swiper-lazy-preloader-black
								figcaption
									p Miền Nam
					.swiper-slide
						a(href="#")
							figure
								img.swiper-lazy(data-src="./assets/images/tour-type/3.jpg", alt="MIEN-TRUNG")
								.swiper-lazy-preloader.swiper-lazy-preloader-black
								figcaption
									p Miền Trung
					.swiper-slide
						a(href="#")
							figure
								img.swiper-lazy(data-src="./assets/images/tour-type/4.jpg", alt="TAY-NGUYEN")
								.swiper-lazy-preloader.swiper-lazy-preloader-black
								figcaption
									p Tây Nguyên
					.swiper-slide
						a(href="#")
							figure
								img.swiper-lazy(data-src="./assets/images/tour-type/5.jpg", alt="DU-LICH-CHAU-AU")
								.swiper-lazy-preloader.swiper-lazy-preloader-black
								figcaption
									p Du lịch Châu Âu
					.swiper-slide
						a(href="#")
							figure
								img.swiper-lazy(data-src="./assets/images/tour-type/6.jpg", alt="DU-LICH-CHAU-MY")
								.swiper-lazy-preloader.swiper-lazy-preloader-black
								figcaption
									p Du lịch Mỹ