section.service-introduction
	.container
		.block-title.color-blue.text-left
			.title
				h2.lcl.lcl-1 THÔNG DỊCH VIÊN
		.content-introduction
			p Công ty du lịch Hòa Bình là địa chỉ đáng tin cậy cho Quý khách có nhu cầu thuê Hướng dẫn viên hoặc thông dịch viên nhiều ngôn ngữ khác nhau.
			p Công ty du lịch Hòa Bình là địa chỉ đáng tin cậy cho Quý khách có nhu cầu thuê Hướng dẫn viên hoặc thông dịch viên nhiều ngôn ngữ khác nhau như:
			p Anh, Pháp, Nhật, Đức, Hàn, Hoa...
			p Với đội ngũ nhân viên hướng dẫn, phiên dịch có kiến thức tổng hợp, kinh nghiệm, trách nhiệm và nhiệt tình, hy vọng chúng tôi sẽ phục vụ tốt Quý khách hàng công ty hoặc cá nhân trong lĩnh vực này.