section.product-overview
	.container
		.row
			.col-sm-5
				.slider-product-detail
					.slider-preview
						.swiper-container
							.swiper-wrapper
								-for(i=13;i<19;i++)
									.swiper-slide
										.img.ov-h
											img.ofcv(src="./assets/images/product-detail/"+i+".jpeg", alt="")
					.slider-thumbnail
						.swiper-container
							.swiper-wrapper
								-for(j=13;j<19;j++)
									.swiper-slide
										.img.ov-h
											img.ofcv(src="./assets/images/product-detail/"+j+".jpeg", alt="")
						.swiper-button-prev
						.swiper-button-next
			.col-sm-7
				.information-overview
					h1 NHÀ HÀNG HÒA BÌNH PHÚ QUỐC
					.list-information.row
						.item-information.col-lg-12
							p.address 71 Đường Trần Hưng Đạo, TT. Dương Đông, Phú Quốc, tỉnh Kiên Giang
							p Tọa lạc tại Trung tâm thị trấn Dương Đông, nằm trong khu liên hợp của Hòa Bình – Phú Quốc Resort, nhà hàng Hòa Bình được xem là địa điểm thuận tiện nhất cho những buổi tiệc cưới hay hội nghị, hội thảo, có sức chứa hơn 700 khách.