section.product-information-detail
	.container
		.row
			.col-lg-9.tab-container
				.list-tab.pid-tab-items.row.no-gutters
					.item.col-sm-3.col-6(toggle-for="1")
						h5.tt-u.fw-700.lcl.lcl-1.ta-c tổng quan
					.item.col-sm-3.col-6(toggle-for="2")
						h5.tt-u.fw-700.lcl.lcl-1.ta-c tiện nghi
					.item.col-sm-3.col-6(toggle-for="3")
						h5.tt-u.fw-700.lcl.lcl-1.ta-c đặt phòng
					.item.col-sm-3.col-6(toggle-for="4")
						h5.tt-u.fw-700.lcl.lcl-1.ta-c điều kiện kèm theo
				.tab-content.pid__tab-contents
					.content(tab-id="1")
						.content__detail-normal
							.item__content
								p Tọa lạc tại vị trí đẹp hướng về sông Kiên và biển Rạch Giá, với kiến trúc độc đáo mang phong cách Châu Âu, Hoa Binh - Rach Gia Resort với 80 phòng nghỉ sang trọng đạt tiêu chuẩn 4 sao là địa điểm lý tưởng để Quý khách tận hưởng những ngày nghỉ hoặc chuyến công tác của mình tại  Rạch Giá.
								p Tọa lạc tại vị trí đẹp hướng về sông Kiên và biển Rạch Giá, với kiến trúc độc đáo mang phong cách Châu Âu, Hoa Binh - Rach Gia Resort với 80 phòng nghỉ sang trọng đạt tiêu chuẩn 4 sao là địa điểm lý tưởng để Quý khách tận hưởng những ngày nghỉ hoặc chuyến công tác của mình tại  Rạch Giá.
								p Hơn thế nữa, các dịch vụ đa dạng như hồ bơi, quầy bar – cà phê, phòng tập thể dục, spa, karaoke và hệ thống nhà hàng tiệc cưới, hội nghị và ẩm thực sang trọng và hiện đại, có sức chứa lớn, hứa hẹn Hoa Binh – Rach Gia Resort là địa điểm lý tưởng không chỉ cho dịch vụ nghỉ dưỡng cao cấp mà còn là nơi để tổ chức các sự kiện, hội nghị, hội thảo.
								p Hãy đến với chúng tôi để cảm nhận và tận hưởng!
								p Thông tin liên hệ:
								p Hoa Binh – Rach Gia Resort
								p 62-64-66 đường Cô Bắc, Phường Vĩnh Bảo, Rạch Giá, Kiên Giang
								p Điện thoại: (0297) 3553355 - Fax: (0297) 6250289
								ul
									li Email: 
										a(href="#") sales@hoabinhrachgiaresort.com
									li Website: 	
										a(href="#") www.hoabinhrachgiaresort.com.vn
								img(src="./assets/images/product-detail/item-more-in-tab/1.jpeg", alt="")
					.content(tab-id="2")
						.content__detail-normal
							.item__content
								ul.list-style-1
									li HOA BINH-RACH GIA RESORT
									li 80 phòng nghỉ tiện nghi, hiện đại  trong không gian sang trọng, ấm cúng theo tiêu chuẩn quốc tế 4 sao bao gồm các loại phòng sau :
									li Hoa Giang Suite
									li Phòng sang trọng, hướng biển
									li Phòng cao cấp, hướng vườn
							.item__title
								.icon-hotel
									img(src="./assets/icons/icon-title-hotel.png", alt="")
								h2.cl-main.ta-c TIỆN NGHI PHÒNG
							.item__content
								ul.list-style-1
									li Phòng nghỉ với ban công/ cửa sổ rộng hướng biển hoặc hướng vườn.
									li Bồn tắm / buồng tắm đứng với nước nóng/ lạnh và vòi hoa sen.
									li Hệ thống điều hòa nhiệt độ trung tâm
									li Truyền hình cáp.
									li Tủ lạnh
									li Điện thoại quốc tế trực tiếp
									li Máy sấy tóc.
									li Máy sấy tóc.
									li Hai chai nước suối, cà phê, trà miễn phí
									li Dép sử dụng trong phòng.
									li Bình đun nước nóng.
									li Dép sử dụng trong phòng.
									li Két sắt an toàn.
									li Truy cập internet không dây tốc độ cao miễn phí.
									li Cửa ra vào bằng khóa từ.
							.item__title
								.icon-hotel
									img(src="./assets/icons/icon-title-hotel.png", alt="")
								h2.cl-main.ta-c TIỆN NGHI & DỊCH VỤ CỦA RESORT
							.item__content
								ul.list-style-1
									li Ăn sáng buffet
									li Bồn tắm / buồng tắm đứng với nước nóng/ lạnh và vòi hoa sen.
									li Hồ bơi ngoài trời & hồ bơi dành cho trẻ em
									li Thang máy.
									li Tủ lạnh
									li Quầy bar- cà phê.
									li Máy sấy tóc.
									li Nhà hàng
									li Làng nướng.
									li Nhiều sảnh tiệc và hội nghị có sức chứa lớn đến trên 800 khách
									li Phòng thể dục
									li Dịch vụ spa, massge.
									li Dịch vụ karaoke.
									li Dịch vụ phòng 24/24.
									li Dịch vụ giặt ủi.
									li Dịch vụ cho thuê xe và đưa đón sân bay, bến tàu.
									li Tổ chức tour và các dịch vụ du lịch.
									li Bãi đậu xe rộng rãi
									li Sân vườn.
					.content(tab-id="3")
						.block-form-booking-detail
							form(action="#")
								.form-row
									.form-group.col-lg-12
										label(for="#") Ngày nhận phòng:
										input(class="date-picker" type="date")
								.form-group.col-lg-12
									label(for="#") Ngày trả phòng:
									input(class="date-picker" type="date")
								.form-group.col-lg-12
									p.cl-main Lưu ý: 
										span Bảng giá trên chỉ áp dụng cho khách Việt Nam, giá đã bao gồm VAT+PPV, giá có thể thay đổi vào các dịp lễ & tết.
								.item__title
									h2.ta-c.mx-at THÔNG TIN ĐẶT PHÒNG
								.form-group.col-lg-12
									label(for="#") Họ và tên: (*)
									input(type="text")
								.form-group.col-lg-12
									label(for="#") Tỉnh thành/Quận-huyện: (*)
									input(type="text")
								.form-group.col-lg-12
									label(for="#") Địa chỉ: (*)
									input(type="text")
								.form-group.col-lg-12
									label(for="#") Điện thoại: (*)
									input(type="text")
								.form-group.col-lg-12
									label(for="#") Email: (*)
									input(type="text")
								.form-group.col-lg-12
									label(for="#") Số người lớn: (*)
									input(type="text")
								.form-group.col-lg-12
									label(for="#") Trẻ em trên 5 tuổi:
									input(type="text")
								.form-group.col-lg-12
									label(for="#") Trẻ em dưới 5 tuổi:
									input(type="text")
								.form-group.col-lg-12
									label.color-main(for="#") Ghi chú
									textarea(name="")
								.form-group.col-lg-12
									button.mx-at.d-b.btn.btn-submit-3 đặt phòng
					.content(tab-id="4")
						.content__detail-normal
							.item__content
								p
									b Các điều kiện kèm theo:
								p
									b Thời gian nhận phòng và trả phòng:
								ul.list-style-1
									li Thời gian nhận phòng 14h (Mười bốn giờ) ngày khách đến và thời gian trả phòng trước 12h (Mười hai giờ) ngày khách đi.
									li Nếu trả phòng sau 12h (Mười hai giờ) và trước 17h (Mười bảy giờ)  tính 50% giá phòng, sau 17h (Mười bảy giờ)  tính 100% giá phòng.
								p
									b Giá ngày Lễ, Tết:
								ul.list-style-1
									li Giá phòng ngày Lễ, Tết tăng 20% so với giá công bố và  áp dụng cho các khoảng thời gian sau:
									li Giao Thừa & Tết Dương lịch (31/12 &01/01), Giao Thừa & Tết Nguyên Đán (18,19,20,21,22/02), Giỗ Tổ Hùng Vương, Ngày Quốc tế Lao động (28,29,30/4 & 01/5/2013), Quốc khánh (2/9), Giáng sinh (24/12 -25/12).
								p
									b Chính sách đối với trẻ em đi kèm:
								ul.list-style-1
									li Trẻ em dưới 06 tuổi : Miễn phí.
									li Trẻ em từ 06 đến dưới 12 tuổi : Phụ thu.
									li Trẻ em từ 12 tuổi trở lên : Phụ thu như người khách thứ 3. 
			.col-lg-3
				.other-products
					.title
						h2.cl-main.tt-u khách sạn khác
						span.cl-main--2 Theo chất lượng
					-for(i=12;i<14;i++)
						.other-product__item.hover-style-1.bg-blue
							a(href="product-detail--hotel.html")
								.img.ov-h
									img.ofcv.lazyload.blur-up(data-src="./assets/images/item/"+i+".jpeg", alt="SAN-PHAM-KHAC")
									span.read-more.tt-u xem thêm
								.text
									h3.lcl.lcl-1.cl-main TÊN SẢN PHẨM LIÊN QUAN