section.news-detail
	.container
		.row
			.col-sm-9
				h1.cl-main.tt-u KHUYẾN MÃI TÀU CAO TỐC RẠCH GIÁ - PHÚ QUỐC
				.content
					img.lazyload.blur-up(data-src="./assets/images/news/news-detail.jpeg", alt="TIN-TUC-CHI-TIET")
					p Tàu SEABUS là tàu cao tốc được đóng mới theo công nghệ Châu Âu với sức chứa đến 304 hành khách. Tàu được lắp đặt 2 máy Caterpiiiar của Mỹ công suất 2.160kw (mã lực), tốc độ vận tải 27 hải lý/h (khoảng 50km/h) khi vận hành tàu an toàn chịu được sóng bão cấp 7, cấp 8.
					p Thời gian di chuyển từ Rạch Giá đi Phú Quốc chỉ mất 2h30.
					p Từ hôm nay cho đến hết ngày 31/12/2019 khi mua vé tàu SEABUS quý khách sẽ được hưởng các chương trình khuyến mãi đặc biệt của chúng tôi giảm đến 10% giá vé cho mỗi khách.
					p Để đặt vé quý khách vui lòng liên hệ: 
						span.cl-main--2 Hotline 0901 867 903.
					p Quý khách có thể tự mua vé thông qua trang web: 
						a(href="#") http://www.hoabinhship.com.vn
				.list-share-socical
					.item
					.item
					.item
					.item
					.item
					.item
			.col-sm-3
				.other-products
					.title
						h2.cl-main.tt-u tin tức khác
						span.cl-main--2 Theo chất lượng
					-for(i=1;i<3;i++)
						.other-product__item.hover-style-1.bg-blue
							a(href="#")
								.img.ov-h
									img.ofcv.lazyload.blur-up(data-src="./assets/images/news/"+i+".jpeg", alt="TIN-TUC-KHAC")
									span.read-more.tt-u xem thêm
								.text
									h3.lcl.lcl-2.cl-main Du lịch Đức: Phần 10 - Các điểm tham quan tại Trier