section.login
	.container
		.block-title.color-blue
			.title
				h2.lcl.lcl-1 ĐĂNG NHẬP
		.block-form
			.form-row
				.form-group.col-lg-12
					label
						input(type="text" placeholder="Tên đăng nhập")
				.form-group.col-lg-12
					label
						input(type="password" placeholder="Mật khẩu")
				.form-group.col-lg-12
					p Bạn chưa có tài khoản? 
						a(href="#") Đăng ký ngay
					p Quên mật khẩu? 
						a(href="#") Lấy lại mật khẩu
				.form-group
					button.btn.btn-submit Đăng nhập