section.service-introduction
	.container
		.block-title.color-blue.text-left
			.title
				h2.lcl.lcl-1 LÀM HỘ CHIẾU, VISA
		.content-introduction
			p Với cuộc sống ngày càng phát triển, du lịch đã trở thành một nhu cầu thiết yếu của mọi người, ngày nay việc du lịch nước ngoài không còn quá khó khăn nữa, mọi thủ tục đều trở nên dễ dàng hơn, chi phí cũng rẻ hơn. Nhu cầu làm Visa và Passport cũng theo đó mà tăng lên.
			strong 1. Visa là gì?
			p Visa (thị thực nhập cảnh) là giấy chứng nhận của cơ quan nhập cư thuộc một quốc gia để xác minh bạn (hoặc một người nào đó) được cấp phép nhập cảnh vào quốc gia đó trong một khoảng thời gian quy định tùy trường hợp như nhập cảnh 1 lần hay nhiều lần.
			strong Passport là gì ?
			p Passport (hay còn gọi là hộ chiếu ) là giấy chứng nhận do chính phủ một nước cấp (ở đây là Việt Nam) để công dân nước đó có quyền xuất cảnh đi nước khác và nhập cảnh trở về nước mình.
			p Hiện tại có 3 loại passport thông dụng:
			p - Loại phổ thông (Popular Passport) : Được cấp cho công dân Việt Nam có thời hạn là 10 năm kể từ ngày cấp. Bạn sẽ phải xuất trình khi nhập cảnh vào một quốc gia khác. Du học sinh và công dân định cư cũng được dùng loại này.
			p - Hộ chiếu công vụ (Official Passport): Được cấp phép cho cá nhân trong cơ quan, chính phủ nhà nước đi công vụ ở nước ngoài.
			p - Hộ chiếu ngoại giao (Diplomatic Passport): Được cấp cho quan chức ngoại giao của chính phủ công tác ở nước ngoài.