.feature-home {
	position             : relative;
	width                : 100%;
	height               : 240px;
	margin               : 50px 0;
	background-image     : url(../assets/images/bg-feature-home.jpg);
	background-attachment: fixed;
	background-size      : cover;
	background-repeat    : no-repeat;
	background-position  : center;

	figure {
		.img {
			height       : 100px;
			margin-bottom: 15px;

			img {
				display: block;
				margin : 0 auto;
			}
		}

		figcaption {
			text-align: center;
			color     : #ffffff;

			h3 {
				font-size    : 16px;
				margin-bottom: 20px;
			}

			p {
				font-size : 14px;
				font-style: italic;
			}
		}
	}

	@media (max-width: 1024.98px) {
		padding: 50px 0 25px;
		height : unset;

		.item {
			margin-bottom: 25px;
		}
	}

	@media (max-width: 767.98px) {
		padding: 25px 0 0 0;
		margin : 25px 0;
	}
}