.home-news {
	.view-more {
		font-family  : rc0;
		position     : relative;
		display      : block;
		color        : map-get($mau, main);
		font-size    : 17px;
		font-weight  : 700;
		padding-right: 20px;

		&-list-news {
			margin    : 25px 0;
			text-align: right;
		}

		&-videos {
			position : absolute;
			top      : 50%;
			left     : 50%;
			transform: translate(-50%, -50%);
		}

		&:after {
			content         : '';
			position        : absolute;
			right           : 0;
			top             : 50%;
			transform       : translateY(-50%);
			width           : 10px;
			height          : 10px;
			background-image: url(../assets/icons/arrow.png);
			background-size : cover;
		}

		@media (max-width: 1024.98px) {}

		@media (max-width: 767.98px) {
			&-list-news {
				margin: 15px 0;
			}
		}
	}

	.list-home-news {
		margin-top: 50px;

		.item-home-news {
			padding      : 10px 0px;
			border-bottom: 1px dashed map-get($mau, main);

			&:first-child {
				display      : flex;
				flex-wrap    : wrap;
				margin-right : -10px;
				margin-left  : -10px;
				padding-top  : 0;
				border-bottom: 0;

				>a {
					display: flex;
				}

				.img,
				.content {
					padding-right: 10px;
					padding-left : 10px;
				}

				.img {
					display         : block;
					-ms-flex        : 0 0 100%;
					-webkit-box-flex: 0;
					flex            : 0 0 30%;
					max-width       : 30%;

					img {
						transition: .3s all ease-in-out;
					}
				}

				.content {
					-ms-flex        : 0 0 100%;
					-webkit-box-flex: 0;
					flex            : 0 0 70%;
					max-width       : 70%;
					padding-top     : 10px;
					padding-bottom  : 10px;
					transition      : .3s all ease-in-out;

					time {
						display: block;
					}

					p {
						display: -webkit-box;
					}
				}

				@media (min-width: 1025px) {
					&:hover {
						.img {
							img {
								transform: scale(1.1);
							}
						}

						.content {
							background: #dedede;
						}
					}
				}
			}

			.img {
				display: none;
				height : 126px;
			}

			.content {
				h2 {
					font-family: rc0;
					font-size  : 16px;
					color      : map-get($mau, main);
				}

				time {
					font-family: rl2;
					display    : none;
					color      : #5d5d5d;
					font-size  : 13px;
					font-style : italic;
				}

				p {
					font-family: rl2;
					display    : none;
					margin-top : 15px;
					color      : #5d5d5d;
				}
			}
		}
	}

	.list-home-videos {
		display     : flex;
		flex-wrap   : wrap;
		margin-right: -5px;
		margin-left : -5px;
		margin-top  : 50px;

		.block-video {
			position  : relative;
			background: #dadddf;
			height    : 210px;
			width     : 100%;
		}

		iframe {
			width : 100%;
			height: 100%;
		}

		.item-home-videos {
			-ms-flex        : 0 0 100%;
			-webkit-box-flex: 0;
			flex            : 0 0 50%;
			max-width       : 50%;
			padding-right   : 5px;
			padding-left    : 5px;
			margin-bottom   : 10px;
		}
	}

	@media (max-width: 1024.98px) {

		.list-home-videos {
			margin-top: 25px;
		}
	}

	@media (max-width: 575.98px) {
		.col-news {
			order: 2;
		}

		.col-videos {
			order: 1;
		}

		.list-home-news {
			margin-top: 25px;

			.item-home-news {
				&:first-child {

					.img,
					.content {
						-ms-flex        : 0 0 100%;
						-webkit-box-flex: 0;
						flex            : 0 0 50%;
						max-width       : 50%;
					}
				}
			}
		}

		.list-home-videos {
			margin-top: 25px;

			.item-home-videos {
				.block-video {
					height: 130px;
				}
			}
		}
	}
}