section.product-overview
	.container
		.block-title.color-blue.text-left
			.title
				h2.lcl.lcl-1 VISA NHẬP CẢNH ĐÀI LOAN
		.row
			.col-mg-9.col-md-8
				.product-information-detail
					.content__detail-normal
						.item__content
							img.lazyload.blur-up(data-src="./assets/images/product-detail/26.jpeg", alt="THONG-TIN-CHI-TIET")
							img.lazyload.blur-up(data-src="./assets/images/product-detail/25.jpeg", alt="THONG-TIN-CHI-TIET")
			.col-mg-3.col-md-4
				.other-products
					.title
						h2.cl-main.tt-u visa khác
						span.cl-main--2 Theo chất lượng
					-for(i=1;i<4;i++)
						.other-product__item.hover-style-1.bg-blue
							a(href="#")
								.img.ov-h
									img.ofcv.lazyload.blur-up(data-src="./assets/images/item/"+i+".jpg", alt="SAN-PHAM-KHAC")
									span.read-more.tt-u xem thêm
								.text
									h3.lcl.lcl-1.cl-main TÊN SẢN PHẨM LIÊN QUAN