.block-book-tour {
	position  : relative;
	margin-top: -75px;
	z-index   : 30;

	.block-list-tab {
		border-top-left-radius : 10px;
		border-top-right-radius: 10px;
		background-color       : rgba($color: map-get($mau, main), $alpha: .8);
		padding                : 10px 20px;
		max-width              : 550px;
		width                  : 100%;
	}

	.list-tab {
		display: flex;

		.item {
			color         : #ffffff;
			text-transform: uppercase;
			margin        : 0 25px;

			&.active {
				color: #78c4fe;
			}
		}
	}

	.tab-content {
		background-color: #e8e8e8;
		height          : 110px;
	}

	.block-form {
		padding-left: 50px;

		.form-row {
			margin-right: -15px;
			margin-left : -15px;
		}
	}

	.form-group {
		padding-right : 15px;
		padding-left  : 15px;
		padding-top   : 20px;
		padding-bottom: 20px;

		label {
			width        : 100%;
			color        : map-get($mau, main);
			font-size    : 16px;
			margin-bottom: 10px;
			font-weight  : 700;
		}

		input,
		select,
		option {
			cursor            : pointer;
			font-size         : 14px;
			font-style        : italic;
			border            : 0;
			background        : #fff;
			height            : 35px;
			width             : 100%;
			padding           : 0 5px;
			-webkit-appearance: none;
			white-space       : nowrap;
			overflow          : hidden;

			&.date-picker {
				width: 100% !important;
			}
		}

		input[type="text"] {
			width  : 200px;
			color  : #808080;
			padding: 0 10px;
		}

		.btn-submit-2 {
			margin-left: 25px;
		}
	}

	.block-submit {
		display        : flex;
		justify-content: center;
		align-items    : center;
		padding-top    : 0;
		padding-bottom : 0;

		.submit {
			position  : relative;
			width     : 100%;
			height    : 100%;
			background: map-get($mau, main);

			.btn-submit {
				position : absolute;
				top      : 50%;
				left     : 50%;
				transform: translate(-50%, -50%);
			}
		}
	}

	@media (max-width: 1024.98px) {
		margin-top: -135px;

		.tab-content {
			height: auto;
		}

		.block-form {
			padding-left  : 25px;
			padding-right : 25px;
			padding-bottom: 25px;
		}

		.block-submit {
			.submit {
				background: transparent;

				.btn-submit {
					left     : 0;
					bottom   : 0;
					top      : unset;
					transform: unset;
				}
			}
		}

		.form-group {
			padding-top   : 10px;
			padding-bottom: 10px;
		}
	}

	@media (max-width: 575.98px) {
		margin-top: -80px;

		.block-list-tab {
			padding         : 10px;
			background-color: map-get($mau, main);
		}

		.list-tab {
			justify-content: center;

			.item {
				font-size: 12px;
				margin   : 0 10px;
			}
		}

		.block-submit {
			.submit {
				.btn-submit {
					font-size: 12px;
				}
			}
		}

		.block-form {
			padding-left  : 10px;
			padding-right : 10px;
			padding-bottom: 10px;

			.form-row {
				margin-right: -5px;
				margin-left : -5px;
			}
		}

		.form-group {
			padding-right: 5px;
			padding-left : 5px;

			input,
			select,
			option {
				font-size: 12px;
			}

			label {
				font-size    : 14px;
				margin-bottom: 5px;
			}

			.btn-submit-2 {
				margin-left: 10px;
			}
		}
	}

	@media (max-width: 350.98px) {
		.list-tab {
			.item {
				font-size: 10px;
			}
		}

		.form-group {
			input[type="text"] {
				width: 100%;
			}

			.btn-submit-2 {
				margin-top : 10px;
				margin-left: 0;
			}
		}
	}
}