.brand {
	margin     : 40px 0 25px;
	border-top : 1px solid #dedede;
	padding-top: 10px;

	.img {
		display        : flex;
		align-items    : center;
		justify-content: center;
		height         : 60px;
		border-left    : 1px solid #dedede;
		padding        : 0 10px;

		img {
			user-select: none;
		}
	}

	h3 {
		font-family   : uabo;
		font-size     : 14px;
		text-transform: uppercase;
		color         : map-get($mau, main);
	}

	@media (max-width: 767.98px) {
		margin: 25px 0 25px;
	}

	@media (max-width: 767.98px) {
		h3 {
			text-align   : center;
			margin-bottom: 15px;
		}
	}
}