header {
	position: relative;

	.block-logo {
		position: absolute;
		top     : -10px;
		left    : 0;
		z-index : 20;

		@media (max-width: 1199.98px) {
			top: -20px;

			.logo {
				width: 70%;
			}
		}
	}

	.toggle-menu {
		position  : fixed;
		right     : 10px;
		top       : 30px;
		width     : 20px;
		height    : 20px;
		cursor    : pointer;
		z-index   : 40;
		transition: all 500ms;
		overflow  : hidden;

		.list-line {
			position: absolute;
			width   : 100%;
			height  : 100%;
			top     : 0;
			left    : 0;
		}

		.line {
			position     : absolute;
			right        : 0;
			display      : block;
			content      : '';
			width        : 100%;
			height       : 2px;
			border-radius: 2px;
			background   : map-get($mau, main);
			transition   : all 0.25s ease-in-out;

			&:first-child {
				top: 0;
			}

			&:nth-child(2) {
				top      : 50%;
				transform: translateY(-50%);
				width    : 50%;
			}

			&:last-child {
				bottom: 0;
			}
		}

		&.active {
			.line {
				&:first-child {
					opacity: 0;
				}

				&:nth-child(2) {
					width    : 100%;
					top      : 45%;
					transform: rotate(45deg);
				}

				&:last-child {
					bottom   : 47%;
					transform: rotate(-45deg);
				}
			}
		}
	}

	.top-header {
		position  : relative;
		height    : 40px;
		background: map-get($mau, main);

		.container {
			z-index: 2;
		}

		.nav-menu-top {
			margin-left : auto;
			display     : flex;
			margin-right: 25px;

			.item-menu-top {
				margin-right: 10px;
			}

			.link-menu-top {
				position     : relative;
				font-size    : 14px;
				color        : #78c4fe;
				padding-right: 10px;

				&:after {
					content   : '';
					position  : absolute;
					right     : 0;
					top       : 50%;
					width     : 2px;
					height    : 70%;
					background: #fff;
					transform : translateY(-50%);
				}
			}
		}

		&:after,
		&:before {
			content       : '';
			position      : absolute;
			bottom        : -2px;
			pointer-events: none;
		}

		&:after {
			width     : 40%;
			height    : 90%;
			left      : 0;
			background: #ffffff;
		}

		&:before {
			width      : 65%;
			height     : 100%;
			left       : 35%;
			border-top : 40px solid map-get($mau, main);
			border-left: 50px solid transparent;
			z-index    : 1;
		}
	}

	.bottom-menu {
		height: 50px;

		.nav-menu-bottom {
			display    : flex;
			align-items: center;
			margin-left: auto;
		}

		.item-menu-bottom {
			position    : relative;
			margin-right: 20px;

			&:last-child {
				margin-right: 0;
			}
		}

		.link-menu-bottom {
			position      : relative;
			text-transform: uppercase;
			font-size     : 14px;
			font-weight   : 700;
			color         : map-get($mau, main);
			padding-bottom: 10px;

			&:after {
				content   : '';
				position  : absolute;
				left      : 50%;
				transform : translateX(-50%);
				bottom    : 0;
				width     : 0;
				width     : 0;
				height    : 2px;
				background: map-get($mau, main-2);
				transition: .3s all ease-in-out;
			}

			@media (min-width: 1025px) {
				&:hover {
					&:after {
						width: 100%;
					}
				}
			}
		}

		.has-sub {
			&:after {
				content       : '';
				position      : absolute;
				bottom        : -20px;
				left          : 0;
				width         : 100%;
				height        : 20px;
				pointer-events: none;
			}

			@media (min-width: 1025px) {
				&:hover {
					&:after {
						pointer-events: visible;
					}

					.sub-menu-lv1 {
						opacity       : 1;
						pointer-events: visible;
					}
				}
			}
		}

		.sub-menu-lv1 {
			position      : absolute;
			width         : 200px;
			flex-direction: column;
			align-items   : unset;
			left          : 50%;
			transform     : translateX(-50%);
			bottom        : -175px;
			z-index       : 100;
			padding       : 15px 0;
			background    : #fff;

			opacity       : 0;
			pointer-events: none;
			transition    : .3s all ease-in-out;
			box-shadow    : 0px 3px 6px rgba($color: #000000, $alpha: .16);

			.item-menu-bottom {
				display      : flex;
				align-items  : center;
				margin-right : 0;
				margin-bottom: 10px;
				padding      : 0 15px 5px 30px;
				border-bottom: 1px solid #dedede;
			}

			.link-menu-bottom {
				color         : map-get($mau, main);
				font-size     : 12px;
				padding-bottom: 0;
				margin-left   : 10px;

				&:after {
					background: #fff;
				}
			}
		}
	}

	.box--hot-line__user-login {
		display     : flex;
		margin-right: 75px;
	}

	.icon {
		position: relative;
		width   : 20px;
		height  : 20px;

		img {
			position: absolute;
			top     : 0;
			left    : 0;
		}
	}

	.hot-line,
	.user-login {
		>a {
			cursor      : pointer;
			user-select : none;
			display     : flex;
			align-items : center;
			margin-right: 25px;
		}

		.text {
			font-size   : 14px;
			line-height : 1;
			color       : #fff;
			padding-left: 5px;
			margin-left : 10px;
			border-left : 1px solid #fff;
		}
	}

	.language {
		position: absolute;
		top     : 20%;
		right   : 10px;
		z-index : 10;

		.text {
			font-size   : 14px;
			color       : #fff;
			margin-right: 10px;
			margin-left : auto;
		}
	}

	.list-language {
		display       : flex;
		flex-direction: column;
		width         : 40px;
		max-height    : 25px;
		height        : 100%;
		overflow      : hidden;
		transition    : .3s all ease-in-out;
		z-index       : 10;
		padding       : 0 10px;
		border-radius : 5px;
		background    : rgba($color: #fff, $alpha: .5);

		.item {
			cursor       : pointer;
			display      : flex;
			align-items  : center;
			margin-bottom: 10px;
			opacity      : .5;

			&.active {
				margin-top: 5px;
				order     : -1;
				opacity   : 1;
			}
		}

		@media (min-width: 1025px) {
			&:hover {
				max-height: 100px;
			}
		}
	}

	.search {
		.icon-search {
			cursor: pointer;
		}

		.block-form-search {
			overflow      : hidden;
			position      : fixed;
			top           : 90px;
			width         : 100%;
			left          : 0;
			opacity       : 0;
			padding       : 20px;
			z-index       : 20;
			pointer-events: none;
			transition    : .2s all ease-in-out;
			background    : #fff;
			border-top    : 1px solid #dedede;

			&.active {
				opacity       : 1;
				pointer-events: visible;
			}
		}

		.form-group {
			position: relative;

			label {
				width: 100%;
			}

			input {
				border       : 1px solid map-get($mau, main);
				border-radius: 5px;
				padding      : 5px 50px 5px 10px;
				font-size    : 14px;
				width        : 100%;
				line-height  : 35px;
			}

			button {
				position  : absolute;
				top       : 0;
				right     : 0;
				border    : 0;
				padding   : 0;
				width     : 270px;
				height    : 100%;
				background: map-get($mau, main);
				color     : #fff;
			}
		}
	}

	@media (max-width: 1024.98px) {
		position  : fixed;
		top       : 0;
		left      : 0;
		width     : 100%;
		height    : 90px;
		background: #ffffff;
		z-index   : 999;
		box-shadow: 0px 1px 9px 2px rgba(112, 112, 112, 0.1);

		.box--hot-line__user-login {
			display     : block;
			margin-right: 0;
		}

		.block-logo {
			position: fixed;
			top     : 0;
			left    : 0;
			height  : 90px;
			width   : 50%;

			.logo {
				position : absolute;
				top      : 50%;
				width    : 100%;
				transform: translateY(-50%);
			}
		}

		.top-header {
			width  : 100%;
			height : unset;
			padding: 15px 0;

			.container {
				padding: 0;
			}

			.nav-menu-top {
				margin-left : auto;
				margin-right: 0;
			}

			&:after,
			&:before {
				display: none;
			}

		}

		.hot-line,
		.user-login {
			position: fixed;
			top     : 30px;

			.text {
				display: none;
			}

			>a {
				margin-right: 0;
			}
		}

		.user-login {
			right: 65px;
		}

		.hot-line {
			right: 100px;
		}

		.bottom-menu {
			position  : fixed;
			top       : 90px;
			bottom    : 0;
			left      : -100%;
			width     : 80%;
			background: map-get($mau, main);
			overflow-y: auto;
			height    : unset;
			transition: .3s all ease-in-out;

			.nav-menu-bottom {
				width         : 100%;
				align-items   : unset;
				flex-direction: column;
				margin-left   : unset;
			}

			.link-menu-bottom {
				color: #fff;
			}

			.has-sub {
				&:after {
					bottom          : unset;
					left            : unset;
					top             : 15px;
					right           : 0;
					width           : 20px;
					background-image: url(../assets/icons/arrow-sub-menu-mobile.png);
					background-size : cover;
					transition      : .3s all ease-in-out;
				}

				&.active {
					&:after {
						transform: rotate(-180deg);
					}
				}
			}

			.sub-menu-lv1 {
				display       : none;
				position      : static;
				width         : 100%;
				left          : unset;
				bottom        : unset;
				background    : #fff;
				transform     : unset;
				opacity       : 1;
				pointer-events: visible;
				margin-top    : 15px;
				transition    : unset;

				.item-menu-bottom {
					padding: 0 10px 5px 10px;
				}
			}

			.item-menu-bottom {
				margin-right : 0;
				padding      : 15px 0;
				border-bottom: solid 1px #518dbb;
			}

			&.active {
				left: 0;
			}
		}

		.list-menu-bottom {
			align-items   : unset;
			flex-direction: column;
		}

		.language {
			display      : flex;
			position     : static;
			top          : unset;
			right        : unset;
			height       : 50px;
			align-items  : center;
			border-bottom: solid 1px #518dbb;
		}

		.list-language {
			display       : flex;
			flex-direction: row;
			width         : unset;
			max-height    : 30px;

			.item {
				margin-bottom: 0;

				+.item {
					margin-left: 15px;
				}

				&.active {
					margin-top: 0;
				}
			}
		}

		.search {
			order: -1;

			.icon-search {
				display: none;
			}

			.block-form-search {
				position      : static;
				opacity       : 1;
				pointer-events: visible;
				padding       : 0;
				background    : unset;
				border-top    : 0;
				top           : unset;
				left          : unset;

				.form-group {

					input {
						line-height: 23px;
					}

					button {
						height    : unset;
						width     : unset;
						background: unset;
						right     : 15px;
						top       : 50%;
						transform : translateY(-50%);
					}
				}
			}
		}
	}

	@media (max-width: 767.98px) {
		.bottom-menu {
			width: 100%;
		}
	}
}