header {
	position: relative;

	.block-logo {
		position: absolute;
		top     : -10px;
		left    : 0;
		z-index : 20;

		@media (max-width: 1199.98px) {
			top: -20px;

			.logo {
				width: 70%;
			}
		}
	}

	.top-header {
		position  : relative;
		height    : 40px;
		background: map-get($mau, main);

		.container {
			z-index: 2;
		}

		.icon {
			position: relative;
			width   : 20px;
			height  : 20px;

			img {
				position: absolute;
				top     : 0;
				left    : 0;
			}
		}

		.nav-menu-top {
			margin-left : auto;
			display     : flex;
			margin-right: 25px;

			.item-menu-top {
				margin-right: 10px;
			}

			.link-menu-top {
				position     : relative;
				font-size    : 14px;
				color        : #78c4fe;
				padding-right: 10px;

				&:after {
					content   : '';
					position  : absolute;
					right     : 0;
					top       : 50%;
					width     : 2px;
					height    : 70%;
					background: #fff;
					transform : translateY(-50%);
				}
			}
		}

		.hot-line,
		.user-login {
			display     : flex;
			align-items : center;
			margin-right: 25px;

			.text {
				font-size   : 14px;
				line-height : 1;
				color       : #fff;
				padding-left: 5px;
				margin-left : 10px;
				border-left : 1px solid #fff;
			}
		}

		.user-login {
			margin-right: 75px;
		}

		.language {
			position: absolute;
			top     : 20%;
			right   : 10px;
			z-index : 10;
		}

		.list-language {
			display       : flex;
			flex-direction: column;
			width         : 40px;
			max-height    : 25px;
			overflow      : hidden;
			transition    : .3s all ease-in-out;
			z-index       : 10;
			padding       : 0 10px;
			border-radius : 5px;
			background    : rgba($color: #fff, $alpha: .5);

			.item {
				cursor       : pointer;
				display      : flex;
				align-items  : center;
				margin-bottom: 10px;

				&.active {
					margin-top: 5px;
					order     : -1;
				}
			}

			@media (min-width: 1025px) {
				&:hover {
					max-height: 100px;
				}
			}
		}

		&:after,
		&:before {
			content       : '';
			position      : absolute;
			bottom        : -2px;
			pointer-events: none;
		}

		&:after {
			width     : 40%;
			height    : 90%;
			left      : 0;
			background: #ffffff;
		}

		&:before {
			width      : 65%;
			height     : 100%;
			left       : 35%;
			border-top : 40px solid map-get($mau, main);
			border-left: 50px solid transparent;
			z-index    : 1;
		}
	}

	.bottom-menu {
		height: 50px;

		.nav-menu-bottom {
			display    : flex;
			align-items: center;
			margin-left: auto;

			.item-menu-bottom {
				margin-right: 20px;

				&:last-child {
					margin-right: 0;
				}
			}

			.link-menu-bottom {
				position      : relative;
				text-transform: uppercase;
				font-size     : 14px;
				font-weight   : 700;
				color         : map-get($mau, main);
				padding-bottom: 10px;

				&:after {
					content   : '';
					position  : absolute;
					left      : 50%;
					transform : translateX(-50%);
					bottom    : 0;
					width     : 0;
					width     : 0;
					height    : 2px;
					background: map-get($mau, main-2);
					transition: .3s all ease-in-out;
				}

				@media (min-width: 1025px) {
					&:hover {
						&:after {
							width: 100%;
						}
					}
				}
			}
		}
	}

	.search {
		position: relative;

		.icon-search {
			cursor: pointer;
		}

		.block-form-search {
			overflow      : hidden;
			position      : absolute;
			bottom        : -50px;
			right         : 0;
			opacity       : 0;
			z-index       : 20;
			pointer-events: none;
			transition    : .2s all ease-in-out;

			&.active {
				opacity       : 1;
				pointer-events: visible;
			}
		}

		.form-group {
			position: relative;

			input {
				border       : 1px solid map-get($mau, main);
				border-radius: 5px;
				padding      : 5px 50px 5px 10px;
				font-size    : 14px;
			}

			button {
				position  : absolute;
				top       : 46%;
				transform : translateY(-50%);
				right     : 10px;
				border    : 0;
				padding   : 0;
				background: none;
			}
		}
	}

	@media (max-width: 1024.98px) {
		.top-header {

			&:after,
			&:before {
				display: none;
			}
		}
	}
}