.list-tour-type {
	margin: 50px 0;

	.slider-tour-type {
		position: relative;
	}

	.block-item {
		img {
			display: block;
			width  : 60px;
			height : 60px;
			margin : 0 auto;
		}

		.content {
			margin-top: 10px;

			p {
				font-family: rc0;
				color      : #808080;
				font-size  : 16px;
				text-align : center;
				transition : .3s all ease-in-out;
			}
		}

		@media (min-width: 1025px) {
			&:hover {
				.content {
					p {
						color: map-get($mau, main-2);
					}
				}
			}
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		display   : none;
		width     : 20px;
		height    : 20px;
		margin-top: 0;
		top       : 50%;
		transform : translateY(-50%);
		z-index   : 10;

		&:after {
			content        : '';
			width          : 100%;
			height         : 100%;
			background-size: cover;
		}
	}

	.swiper-button-next {
		right: 0;

		&:after {
			background-image: url(../assets/icons/next-slider-detail.png);
		}
	}

	.swiper-button-prev {
		left: 0;

		&:after {
			background-image: url(../assets/icons/prev-slider-detail.png);
		}
	}

	@media (max-width: 767.98px) {
		margin: 25px 0;

		.swiper-button-next,
		.swiper-button-prev {
			display: flex;
		}

		.slider-tour-type {
			padding: 0 35px;
		}
	}
}