.list-tour-type {
	margin: 50px 0;

	.block-item {
		img {
			display: block;
			width  : 60px;
			height : 60px;
			margin : 0 auto;
		}

		.content {
			margin-top: 10px;

			p {
				color     : #808080;
				font-size : 16px;
				text-align: center;
				transition: .3s all ease-in-out;
			}
		}

		@media (min-width: 1025px) {
			&:hover {
				.content {
					p {
						color: map-get($mau, main-2);
					}
				}
			}
		}
	}

	@media (max-width: 767.98px) {
		margin: 25px 0;
	}
}