section.service-introduction
	.container
		.block-title.color-blue.text-left
			.title
				h2.lcl.lcl-1 ĐIỀU KIỆN - CHÍNH SÁCH
		.content-introduction
			p Các quy định chung về trách nhiệm của các bên, chính sách thanh toán, chính sách hủy - phạt và chính sách bảo mật.
			strong 1. Về sở hữu bản quyền
			p • Tất cả các tên miền trỏ về website: peacetour.com.vn, peacetourco.vn, peacetourco.com.vn, hoabinhtour.vn, dulichhoabinh.vn, dulichhoabinh.com.vn, peacetour.vn, hoabinhvietnam.vn, peacetourvietnam.vn đều thuộc quyền sở hữu của Công ty Cổ phần Du lịch Hòa Bình Việt Nam (Peace Tour) và được bảo vệ theo Luật Sở hữu trí tuệ.
			p • Mọi hoạt động sử dụng nội dung được đăng tải cho mục đích tham khảo và làm tài liệu nghiên cứu phải chú thích rõ nguồn tham khảo lấy từ nội dung website Công ty Cổ phần Du lịch Hòa Bình Việt Nam (Peace Tour).
			p • Việc sử dụng các logo, tên thương hiệu và nhãn hiệu của Công ty Cổ phần Du lịch Hòa Bình Việt Nam (Peace Tour) dưới bất cứ hình thức nào phải được sự đồng ý của Công ty Cổ phần Du lịch Hòa Bình Việt Nam (Peace Tour) bằng văn bản.
			strong 2. Về thông tin khách hàng
			p • Đối với thông tin cá nhân: Những thông tin này chỉ để phục vụ cho nhu cầu xác nhận đăng ký và thanh toán tour của khách hàng. Công ty Cổ phần Du lịch Hòa Bình Việt Nam (Peace Tour)  sẽ sử dụng những thông tin liên lạc này để gửi đến khách hàng thông tin về những sự kiện, những tin tức khuyến mãi và những ưu đãi đặc biệt với sự đồng ý từ khách hàng. Những thông tin do khách hàng cung cấp sẽ được giữ bí mật và cam kết không tiết lộ cho bên các thứ ba trừ khi có sự đồng ý của khách hàng hoặc theo yêu cầu của các cơ quan có thẩm quyền theo quy định của pháp luật
			strong 3. Về trang web liên kết
			p • Các trang web của Công ty Cổ phần Du lịch Hòa Bình Việt Nam (Peace Tour) có chứa những liên kết đến trang web của bên thứ ba: trách nhiệm pháp lý liên quan đến những thông tin đăng tải trên các trên các website của bên thứ ba thuộc về đơn vị sở hữu các trang web này.
			strong 4. Trách nhiệm các bên:
			strong Đối với Công ty Cổ phần Du lịch Hòa Bình Việt Nam (Peace Tour):
			p • Hoàn tất các thủ tục liên quan đến chuyến đi, tổ chức tour du lịch theo chương trình đã thỏa thuận.
			p • Đảm bảo thực hiện đầy đủ mọi dịch vụ theo đúng như chương trình mà khách hàng đăng ký. Tuy nhiên, chúng tôi có toàn quyền thay đổi lộ trình hoặc hủy bỏ chuyến đi du lịch bất cứ lúc nào mà chúng tôi thấy cần thiết vì sự an toàn cho khách hàng.
			p • Mọi thay đổi nếu có sẽ được thông báo nhanh chóng cho khách hàng ngay trước thời điểm khởi hành hoặc ngay sau khi phát hiện những phát sinh.
			p • Mua bảo hiểm du lịch cho khách hàng. Điều kiện để được công ty Bảo hiểm bồi thường và mức bồi thường cụ thể sẽ căn cứ vào những quy định của công ty Bảo hiểm và văn bản Pháp luật có liên quan.
			strong Công ty Cổ phần Du lịch Hòa Bình Việt Nam (Peace Tour) sẽ được miễn trừ trách nhiệm đối với các trường hợp sau:
			p • Về tất cả những thông tin mà khách hàng cung cấp do chúng tôi không thể xác nhận chính xác những thông tin quý khách đã đăng ký.
			p • Về việc thông tin của quý khách bị lấy cắp nếu như việc lấy cắp được thực hiện từ máy của quý khách do bị nhiễm virus máy tính hay do nguyên nhân nào khác.
			p • Đối với trường hợp hệ thống máy tính của quý khách bị hư hại trong khi đang thanh toán hoặc bị can thiệp liên quan tới việc sử dụng một trang web bên ngoài.
			p • Về việc mất dữ liệu thông tin của quý khách do sự cố khách quan như: thiên tai, hạn hán, hỏa hoạn, chiến tranh, …
			p • Đối với các tổn thất hoặc chi phí phát sinh do khách hàng chậm trễ, thay đổi hoặc tự ý hủy chương trình, hoặc sử dụng dịch vụ thêm ngoài chương trình.
			p • Đối với những thiệt hại do việc chậm trễ của các phương tiện công cộng gây ra cũng như do sự thất lạc, hư hỏng hành lý của khách hàng trong suốt chuyến đi.
			strong Đối với khách hàng:
			p • Cung cấp đầy đủ, chính xác thông tin và các giấy tờ cần thiết (như CMND,Căn cước công dân, hộ chiếu) trong thời hạn theo quy định. Khách hàng sẽ chịu mọi chi phí phát sinh nếu không thực hiện đúng nghĩa vụ cung cấp thông tin này.
			p • Khách hàng cam kết hoàn toàn chịu tách nhiệm với thing6 tin cá nhân và thẻ thanh toán. Nếu có sai sót, giả mạo hay tranh chấp phát sinh thì Công ty có quyền huỷ tour đã mua của quý khách
			p • Thực hiện thanh toán đầy đủ, đúng thời hạn theo quy định của Hợp đồng. Trường hợp không thanh toán đúng thời hạn quy định thì xem như khách hàng tự ý hủy chuyến đi.
			p • Không tự ý tách đoàn nếu chưa được sự đồng ý của trưởng đoàn Công ty Cổ phần Du lịch Hòa Bình Việt Nam (Peace Tour). Chấp hành các quy định về an toàn cá nhân. Tự bảo quản hành lý và tư trang của mình. Mang theo giấy tờ tùy thân để xuất trình khi cần thiết.
			p • Tuân thủ pháp luật của Nhà nước Cộng hòa xã hội chủ nghĩa Việt Nam (và các nước sở tại nếu đi du lịch nước ngoài). Thực hiện tốt nội quy của đoàn, các quy định của khách sạn, điểm tham quan và phương tiện vận chuyển.
			p • Chịu trách nhiệm bồi thường toàn bộ thiệt hại do lỗi của mình gây ra và các khoản phạt do vi phạm hợp đồng cũng như chi phí hủy chuyến đi, hủy dịch vụ của nhà cung cấp.
			strong QUY ĐỊNH THANH TOÁN:
			p • Đối với giao dịch thanh toán tại quầy: nhân viên Công ty Cổ phần Du lịch Hòa Bình Việt Nam (Peace Tour) sẽ xác nhận lại với khách tổng số tiền cần thanh toán. Khách hàng sẽ nhận phiếu thu sau khi hoàn tất các thủ tục thanh toán
			p • Thanh toán qua ngân hàng: nhân viên Công ty Cổ phần Du lịch Hòa Bình Việt Nam (Peace Tour) sẽ xác nhận lại với khách tổng số tiền cần thanh toán. Khách hàng sẽ nhận email xác nhận tình trạng thanh toán qua email sau khi hoàn tất các thủ tục thanh toán.
			p o Thông tin tài khoản Công ty Cổ phần Du lịch Hòa Bình Việt Nam (Peace Tour) tại ngân hàng Vietcombank TP.HCM - VCB
			p o Tài khoản VND:
			p o Tài khoản USD:
			p o Tài khoản EUR:
			p o  SWIFT:
			strong CHÍNH SÁCH HỦY PHẠT
			p • Khách hàng có quyền tạm ngưng/hủy giao dịch sau khi thực hiện. Phải tuân theo điều kiện hủy phạt dịch vụ đi kèm.
			p • Việc hủy toàn bộ các dịch vụ bởi khách hàng tham gia tour phải được gửi và nhận bằng văn bản(email hoặc fax). Công ty không chấp nhận mọi yêu cầu hủy dịch vụ qua điện thoại.
			p • Công ty không chịu trách nhiệm về mọi yêu cầu hủy dịch vụ khi chưa nhận được và xác nhận lại bằng văn bản.
			p • Các quy định huỷ phạt chi tiết được áp dụng theo từng quy định của chương trình tour cụ thể. Các trường hợp chuyển tour, Công  ty sẽ xem xét lại tình hình mà có mức hỗ trợ khác nhau.
			strong CHÍNH SÁCH HOÀN TRẢ:
			p • Trường hợp Công ty Cổ phần Du lịch Hòa Bình Việt Nam (Peace Tour) không tổ chức được chuyến đi (trừ trường hợp bất khả kháng) thì Công ty phải hoàn trả toàn bộ giá tour cho Khách hàng ngay tại thời điểm hủy chuyến đi.
			p • Trường hợp Khách hàng hủy chuyến đi (hoặc được xem là hủy chuyến đi) trước ngày khởi hành thì Khách hàng sẽ phải thanh toán các chi phí liên quan cho Công ty theo quy định của từng chương trình cụ thể.
			p • Khi hoàn tất việc xác nhận thông tin hủy tour, Công ty sẽ hoàn tiền vào đúng tài khoản quý khách đã thanh toán sau khi trừ các khoản lệ phí hủy tour.
			strong CHÍNH SÁCH BẢO VỆ THÔNG TIN CÁ NHÂN KHÁCH HÀNG
			i Mục đích và phạm vi thu thập thông tin
			p • Nhằm ghi nhận và đối chiếu thông tin triển khai dịch vụ
			p • Chăm sóc khách hàng
			p • Phạm vi thu thập thông tin: các khách hàng tại Việt Nam và cộng đồng Việt Kiều
			i Phạm vi sử dụng thông tin
			p • Chỉ lưu hành nội bộ trong công ty cho nghiệp vụ bán hàng
			i Thời gian lưu trữ thông tin
			p • Thời gian lưu trữ thông tin là 1 năm
			p • Địa chỉ của đơn vị thu thập và quản lý thông tin cá nhân: Văn phòng chính Công ty Cổ phần Du lịch Hòa Bình Việt Nam - 60 Võ Văn Tần, Phường 6, Quận 3, Tp.Hồ Chí Minh, Việt Nam
			i Phương tiện và công cụ để người dùng tiếp cận và chỉnh sửa dữ liệu cá nhân của mình.
			p • Trang web không có chức năng đăng ký/quản lý thành viên. Thông tin khách hàng sẽ được lưu trữ theo dạng bản ghi. Khi triển khai dịch vụ, nếu khách hàng cần điều chỉnh thì cần phải liên hệ nhân viên kinh doanh.
			i Cam kết bảo mật thông tin cá nhân khách hàng
			p • Công ty thu thập thông tin khách hàng để phục vụ mục đích cung cấp dịch vụ, nâng cấp chất lượng phục vụ.
			p • Công ty cam kết không kinh doanh thông tin khách hàng.