.login {
	.block-form {
		width    : 100%;
		max-width: 50%;
		margin   : 25px auto 0;

		.form-group {
			margin-bottom: 20px;

			p {
				color        : gray;
				margin-bottom: 10px;
			}

			a {
				color: map-get($mau, main);
			}
		}

		label {
			width: 100%;
		}

		input {
			width        : 100%;
			padding      : 0 20px;
			height       : 50px;
			background   : #fff;
			border       : 1px solid rgba(0, 0, 0, .1);
			border-radius: none;
			box-shadow   : -0.53px 0.85px 5px 0 rgba(0, 0, 0, .2);
		}

		button {
			cursor : pointer;
			padding: 10px 20px;
		}
	}

	@media (max-width: 767.98px) {
		.block-form {
			max-width: 100%;

			.form-group {
				margin-bottom: 10px;

				p {
					font-size: 14px;
				}

				a {
					font-size: 14px;
				}
			}

			input {
				font-size: 14px;
			}
		}
	}
}