extends _templates/_layout/_layout.pug

block var
	- let title = 'Du lịch Hòa Bình - Vé Máy Bay';
	- let bodyClass = 'air-ticket';

block loading
block banner,block-book-tour,_tour-type,breadcrumb
	// DANH SÁCH CÁC KIỂU TOUR
	include _templates/_layout/_tour-type
	// Breadcrumb
	include _templates/_layout/_breadcrumb
block main
	include _templates/air-ticket/a-1
block scripts