extends _templates/_layout/_layout.pug

block var
	- let title = 'Du lịch Hòa Bình - Peace Tour';
	- let bodyClass = 'index-page';

block loading
	include _templates/_layout/_loading
block banner,block-book-tour,_tour-type,breadcrumb
	// BANNER
	include _templates/_layout/_banner
	// BLOCK FORM BOOK TOUR
	include _templates/_layout/_block-book-tour
	// DANH SÁCH CÁC KIỂU TOUR
	include _templates/_layout/_tour-type
block main
	// DANH SÁCH TOUR NỔI BẬT
	include _templates/index/i-1
	// DANH SÁCH TOUR TRONG NƯỚC
	include _templates/index/i-2
	// DANH SÁCH TOUR NƯỚC NGOÀI
	include _templates/index/i-3
	// CÁCH THÀNH TỰU ĐẠT ĐƯỢC
	include _templates/index/i-4
	// DANH SÁCH TIN TỨC
	include _templates/index/i-5
block scripts
	script(src="./js/YoutubeController.min.js")
