extends _templates/_layout/_layout.pug

block var
	- let title = 'Du lịch Hòa Bình - Làm Hộ Chiếu';
	- let bodyClass = 'make-passport-visa';

block loading
block banner,block-book-tour,_tour-type,breadcrumb
	// DANH SÁCH CÁC KIỂU TOUR
	include _templates/_layout/_tour-type
	// Breadcrumb
	include _templates/_layout/_breadcrumb
block main
	include _templates/make-passport-visa/m-1
	include _templates/make-passport-visa/m-2
block scripts