extends _templates/_layout/_layout.pug

block var
	- let title = 'Du lịch Hòa Bình - Điều Kiện & Chính Sách';
	- let bodyClass = 'policy-conditions';

block loading
block banner,block-book-tour,_tour-type,breadcrumb
	// DANH SÁCH CÁC KIỂU TOUR
	include _templates/_layout/_tour-type
	// Breadcrumb
	include _templates/_layout/_breadcrumb
block main
	include _templates/policy-conditions/p-1
block scripts