extends _templates/_layout/_layout.pug

block var
	- let title = 'Du lịch Hòa Bình - Chi Tiết Khách Sạn';
	- let bodyClass = 'product-detail--hotel';

block loading
block banner,block-book-tour,_tour-type,breadcrumb
	// DANH SÁCH CÁC KIỂU TOUR
	include _templates/_layout/_tour-type
	// Breadcrumb
	include _templates/_layout/_breadcrumb
block main
	include _templates/product-detail--hotel/p-1
	include _templates/product-detail--hotel/p-2
block scripts