[hidden],
.d-n,
.hidden {
	display: none !important;
}

.dekstop {
	@media (max-width: 1024px) {
		display: none !important;
	}
}

.mobile {
	@media (min-width: 1025px) {
		display: none !important;
	}
}

.d-b {
	display: block;
}

.d-ib {
	display: inline-block;
}

.d-f {
	display: flex;
}

.d-if {
	display: inline-flex;
}

.fw-w {
	flex-wrap: wrap;
}

.ai-c {
	align-items: center;
}

.ai-fe {
	align-items: flex-end;
}

.as-c {
	align-self: center;
}

.as-fe {
	align-self: flex-end;
}

.jc-c {
	justify-content: center;
}

.jc-fe {
	justify-content: flex-end;
}

.jc-sb {
	justify-content: space-between;
}

.fcc {
	display        : flex;
	justify-content: center;
	align-items    : center;
}

// List, ul, ol, dl
.lst-n {
	list-style-type: none;
}

// Margin
.ml-at {
	margin-left: auto;
}

.mr-at {
	margin-right: auto;
}

.mx-at {
	margin-right: auto;
	margin-left : auto;
}

.ov-h {
	overflow: hidden;
}

.fs-i {
	font-style: italic;
}

.fw-700 {
	font-weight: 700;
}

.tt-u {
	text-transform: uppercase;
}

.tt-c {
	text-transform: capitalize;
}

.ta-c {
	text-align: center;
}

.ta-r {
	text-align: right;
}

.td-u {
	text-decoration: underline;
}

.h-100 {
	height: 100%;
}

.cl-main {
	color: map-get($mau, main);
}

.cl-main--2 {
	color: map-get($mau, main-2);
}