.btn {
	display        : inline-flex;
	justify-content: center;
	align-items    : center;
	border         : 0;
	padding        : 0;

	&-submit {
		padding         : 15px 30px;
		font-size       : 17px;
		color           : #fff;
		border          : 1px solid #fff;
		border-radius   : 5px;
		background-color: map-get($mau, main-2);
		text-transform  : uppercase;
	}

	&-submit-2 {
		width           : 100px;
		height          : 35px;
		border          : 1px solid #015da4;
		background-color: #015da4;
		color           : #fff;
		font-size       : 17px;
		cursor          : pointer;
	}
}