.btn {
	display        : inline-flex;
	justify-content: center;
	align-items    : center;
	border         : 0;
	padding        : 0;

	&-submit {
		font-family     : rc0;
		padding         : 15px 30px;
		font-size       : 17px;
		color           : #fff;
		border          : 1px solid #fff;
		border-radius   : 5px;
		background-color: map-get($mau, main-2);
		text-transform  : uppercase;

		@media (max-width: 1199.98px) {
			padding: 10px 15px;
		}

		@media (max-width: 1024.98px) {
			font-size: 14px;
			padding  : 5px 20px;
		}
	}

	&-submit-2 {
		width           : 100px;
		height          : 35px;
		border          : 1px solid map-get($mau, main);
		background-color: map-get($mau, main);
		color           : #fff;
		font-size       : 17px;
		cursor          : pointer;

		@media (max-width: 1024.98px) {
			font-size: 14px;
			width    : 75px;
		}
	}

	&-submit-3 {
		width         : 150px;
		height        : 50px;
		border        : 1px solid map-get($mau, main);
		color         : map-get($mau, main);
		font-size     : 17px;
		cursor        : pointer;
		text-transform: uppercase;

		@media (max-width: 1024.98px) {
			font-size: 14px;
			width    : 75px;
			height   : 35px;
		}
	}

	&-bg-white {
		width           : 100px;
		height          : 35px;
		background-color: #fff;
		color           : #5d5d5d;
		font-size       : 17px;
		cursor          : pointer;

		@media (max-width: 1024.98px) {
			font-size: 14px;
			width    : 75px;
		}
	}

	&-view-more {
		font-family     : rc0;
		cursor          : pointer;
		padding         : 8px 25px 8px 25px;
		font-size       : 17px;
		color           : #fff;
		background-color: map-get($mau, main);
		border          : 1px solid map-get($mau, main);
		border-radius   : 10px;
		margin-top      : 10px;
		text-align      : center;
		transition      : .3s all ease-in-out;

		@media (max-width: 767.98px) {
			font-size: 14px;
			padding  : 5px 10px;
		}

		@media (min-width: 1025px) {
			&:hover {
				color     : map-get($mau, main);
				background: #fff;
			}
		}
	}
}