::-webkit-scrollbar-track {
	box-shadow      : inset 0 0 6px rgba(255, 255, 255, 0);
	background-color: #fff;
}

::-webkit-scrollbar {
	width           : 5px;
	height          : 5px;
	background-color: #fff;
}

::-webkit-scrollbar-thumb {
	border-radius   : 2.5px;
	box-shadow      : inset 0 0 6px rgba(255, 255, 255, 0);
	background-color: map-get($mau, main);
}

body {
	overflow-x: hidden;

	&.disabled {
		overflow: hidden;
	}
}

#overlay {
	opacity       : 0;
	visibility    : hidden;
	pointer-events: none;

	background-color: rgba(0, 0, 0, .8);
	width           : 100%;
	height          : 100%;
	position        : fixed;
	top             : 0;
	left            : 0;
	z-index         : 150;
	transition      : .3s all ease-in-out;

	&.active {
		opacity       : 1;
		visibility    : visible;
		pointer-events: visible;
	}
}

#back-top {
	cursor        : pointer;
	position      : fixed;
	bottom        : 25px;
	right         : 25px;
	z-index       : 300;
	opacity       : 0;
	pointer-events: none;
	transition    : .3s all ease-in-out;

	&.active {
		pointer-events: visible;
		opacity       : 1;
	}
}

#phone-call {
	cursor  : pointer;
	position: fixed;
	right   : 25px;
	top     : 50%;
	z-index : 200;

	.phone-fixed {
		position        : relative;
		display         : block;
		margin          : 0;
		width           : 1em;
		height          : 1em;
		font-size       : 7vmin;
		background-color: map-get($mau, main);
		border-radius   : 0.5em;
		box-shadow      :
			0 0 0 0em rgba(map-get($mau, main), 0),
			0em 0.05em 0.1em rgba(#000000, 0.2);
		transform: translate3d(0, 0, 0) scale(1);

		@media (max-width: 767.98px) {
			font-size: 12vmin;
		}
	}

	.phone-fixed::before,
	.phone-fixed::after {
		position: absolute;
		content : "";
	}

	.phone-fixed::before {
		top             : 0;
		left            : 0;
		width           : 1em;
		height          : 1em;
		background-color: rgba(#fff, 0.1);
		border-radius   : 100%;
		opacity         : 1;
		transform       : translate3d(0, 0, 0) scale(0);
	}

	.phone-fixed::after {
		top                : 0.3em;
		left               : 0.3em;
		width              : 0.4em;
		height             : 0.4em;
		background         : url(../assets/icons/phone-fixed.png);
		background-position: 50% 50%;
		background-repeat  : no-repeat;
		background-size    : cover;
		transform          : translate3d(0, 0, 0);
	}

	.phone-fixed.is-animating {
		animation: phone-outer 3000ms infinite;

		&::before {
			animation: phone-inner 3000ms infinite;
		}

		&::after {
			animation: phone-icon 3000ms infinite;
		}
	}

	@keyframes phone-outer {
		0% {
			transform: translate3d(0, 0, 0) scale(1);
			box-shadow:
				0 0 0 0em rgba(#3498db, 0),
				0em 0.05em 0.1em rgba(#000000, 0.2);
		}

		33.3333% {
			transform: translate3d(0, 0, 0) scale(1.1);
			box-shadow:
				0 0 0 0em rgba(#3498db, 0.1),
				0em 0.05em 0.1em rgba(#000000, 0.5);
		}

		66.6666% {
			transform: translate3d(0, 0, 0) scale(1);
			box-shadow:
				0 0 0 0.5em rgba(#3498db, 0),
				0em 0.05em 0.1em rgba(#000000, 0.2);
		}

		100% {
			transform: translate3d(0, 0, 0) scale(1);
			box-shadow:
				0 0 0 0em rgba(#3498db, 0),
				0em 0.05em 0.1em rgba(#000000, 0.2);
		}
	}

	@keyframes phone-inner {
		0% {
			opacity  : 1;
			transform: translate3d(0, 0, 0) scale(0);
		}

		33.3333% {
			opacity  : 1;
			transform: translate3d(0, 0, 0) scale(0.9);
		}

		66.6666% {
			opacity  : 0;
			transform: translate3d(0, 0, 0) scale(0);
		}

		100% {
			opacity  : 0;
			transform: translate3d(0, 0, 0) scale(0);
		}
	}

	@keyframes phone-icon {
		0% {
			transform: translate3d(0em, 0, 0);
		}

		2% {
			transform: translate3d(0.01em, 0, 0);
		}

		4% {
			transform: translate3d(-0.01em, 0, 0);
		}

		6% {
			transform: translate3d(0.01em, 0, 0);
		}

		8% {
			transform: translate3d(-0.01em, 0, 0);
		}

		10% {
			transform: translate3d(0.01em, 0, 0);
		}

		12% {
			transform: translate3d(-0.01em, 0, 0);
		}

		14% {
			transform: translate3d(0.01em, 0, 0);
		}

		16% {
			transform: translate3d(-0.01em, 0, 0);
		}

		18% {
			transform: translate3d(0.01em, 0, 0);
		}

		20% {
			transform: translate3d(-0.01em, 0, 0);
		}

		22% {
			transform: translate3d(0.01em, 0, 0);
		}

		24% {
			transform: translate3d(-0.01em, 0, 0);
		}

		26% {
			transform: translate3d(0.01em, 0, 0);
		}

		28% {
			transform: translate3d(-0.01em, 0, 0);
		}

		30% {
			transform: translate3d(0.01em, 0, 0);
		}

		32% {
			transform: translate3d(-0.01em, 0, 0);
		}

		34% {
			transform: translate3d(0.01em, 0, 0);
		}

		36% {
			transform: translate3d(-0.01em, 0, 0);
		}

		38% {
			transform: translate3d(0.01em, 0, 0);
		}

		40% {
			transform: translate3d(-0.01em, 0, 0);
		}

		42% {
			transform: translate3d(0.01em, 0, 0);
		}

		44% {
			transform: translate3d(-0.01em, 0, 0);
		}

		46% {
			transform: translate3d(0em, 0, 0);
		}
	}
}

#hot-line-popup {
	max-width: 1055px;
	width    : 90%;
	padding  : 0;

	.block-hot-line {
		.block-title {
			display        : flex;
			justify-content: center;
			align-items    : center;
			background     : map-get($mau, main);
			text-transform : uppercase;
			height         : 80px;

			h2,
			a {
				color        : #fff;
				font-size    : 32px;
				border-bottom: 1px dotted #ffffff;
				font-weight  : 400;
			}
		}

		.block-content {
			padding: 40px;

			.item-phone-number {
				cursor      : pointer;
				padding     : 20px 0;
				text-align  : center;
				border-right: 1px solid map-get($mau, main);

				p {
					color      : map-get($mau, main-2);
					font-size  : 30px;
					font-weight: 700;
					display    : block;
				}

				span {
					font-size    : 18px;
					margin       : 0 auto;
					width        : 70%;
					font-style   : italic;
					color        : map-get($mau, main);
					border-bottom: 1px dotted map-get($mau, main);
				}
			}
		}
	}

	.fancybox-close-small {
		width     : 70px;
		height    : 70px;
		top       : 5px;
		right     : 5px;
		background: map-get($mau, main);

		svg {
			path {
				fill: map-get($mau, main-2);
			}
		}
	}

	@media (max-width: 1024.98px) {
		.block-hot-line {
			.block-content {
				padding: 10px;

				.item-phone-number {
					p {
						font-size: 18px;
					}

					span {
						font-size: 16px;
					}
				}
			}
		}
	}

	@media (max-width: 767.98px) {
		.block-hot-line {
			.block-title {
				height: 50px;

				h2 {
					font-size: 18px;
				}
			}

			.block-content {
				.item-phone-number {
					padding: 10px 0;

					p {
						font-size: 16px;
					}

					span {
						font-size: 14px;
					}
				}
			}
		}

		.fancybox-close-small {
			width : 35px;
			height: 35px;
			top   : 0;
			right : 0;
		}
	}
}

#login-register-popup {
	max-width : 500px;
	width     : 90%;
	padding   : 0;
	background: transparent;

	.block-login-register {
		display  : flex;
		flex-wrap: wrap;

		.item {
			-ms-flex        : 0 0 100%;
			-webkit-box-flex: 0;
			flex            : 0 0 100%;
			max-width       : 100%;
			margin-bottom   : 15px;
			height          : 65px;
		}

		.btn {
			font-size     : 25px;
			text-transform: uppercase;
			width         : 100%;
			height        : 100%;
			transition    : .2s all ease-in-out;

			@media (min-width: 1025px) {
				&:hover {
					background: map-get($mau, main);
					color     : #fff;
				}
			}
		}
	}

	.fancybox-close-small {
		display: none;
	}

	@media (max-width: 575.98px) {
		.block-login-register {
			.item {
				height: 50px;
			}

			.btn {
				font-size: 18px;
			}
		}
	}
}

.fancybox-slide--html {
	.fancybox-content {
		overflow: unset;

		@media (max-width: 767.98px) {
			overflow: hidden;
		}
	}

	.fancybox-close-small {
		width     : 40px;
		height    : 40px;
		top       : -20px;
		right     : -20px;
		background: black;
		opacity   : 1;
		padding   : 5px;

		svg {
			path {
				fill: white;
			}
		}

		@media (max-width: 767.98px) {
			top  : 0;
			right: 0;
		}
	}
}

.tab-container {
	.list-tab {
		.item {
			cursor     : pointer;
			user-select: none;
		}
	}

	.tab-content {
		.content {
			display   : none;
			opacity   : 0;
			transition: all .3s cubic-bezier(.2, .5, .5, .8);

			&.show {
				opacity: 1;
			}
		}
	}
}

.form-row {
	display  : flex;
	flex-wrap: wrap;
}

.blur-up {
	filter    : blur(10px);
	transition: filter 1s;

	&.lazyloaded {
		filter: blur(0);
	}
}

.ofcv {
	width          : 100%;
	height         : 100%;
	object-fit     : cover;
	object-position: center;
	font-family    : 'object-fit: cover, object-position: center';
	background-size: cover;
}

.ofct {
	width          : 100%;
	height         : 100%;
	object-fit     : contain;
	object-position: center;
	font-family    : 'object-fit: contain, object-position: center';
	background-size: contain;
}

.blur-up {
	filter    : blur(10px);
	transition: filter 1s;

	&.lazy-loaded {
		filter: blur(0);
	}
}

.clearfix {
	&:after {
		content: '';
		display: table;
		clear  : both;
	}
}

.lcl {
	overflow          : hidden;
	display           : -webkit-box;
	text-overflow     : ellipsis;
	-webkit-box-orient: vertical;

	&-1 {
		-webkit-line-clamp: 1;
	}

	&-2 {
		-webkit-line-clamp: 2;
	}

	&-3 {
		-webkit-line-clamp: 3;
	}
}

.block-title {
	.title {
		position: relative;
		height  : 60px;

		h2 {
			position        : absolute;
			top             : 50%;
			left            : 50%;
			transform       : translate(-50%, -50%);
			color           : map-get($mau, main-2);
			font-size       : 28px;
			text-transform  : uppercase;
			background-color: #fff;
			z-index         : 1;
			padding         : 0 20px;
		}

		&:after {
			content   : '';
			position  : absolute;
			top       : 50%;
			left      : 0;
			width     : 100%;
			left      : 0;
			height    : 1px;
			background: map-get($mau, main);
		}
	}

	.desc {
		max-width: 70%;
		width    : 100%;
		margin   : 0 auto;

		p {
			color     : #5d5d5d;
			text-align: center;
		}
	}

	&.color-blue {
		.title {
			h2 {
				color: map-get($mau, main);
			}
		}
	}

	&.text-left {
		h2 {
			left        : 0;
			transform   : translateY(-50%);
			padding-left: 0;
		}
	}

	@media (max-width: 575.98px) {
		.title {
			h2 {
				font-size : 21px;
				width     : 70%;
				text-align: center;
			}
		}

		.desc {
			display: none;
		}
	}

	@media (max-width: 350.98px) {
		.title {
			h2 {
				text-align: center;
				font-size : 18px;
				width     : 80%;
			}
		}
	}
}

.sticker {
	figure {
		display        : flex;
		justify-content: center;

		figcaption {
			margin-top: 15px;
			text-align: right;

			h5 {
				text-transform: uppercase;
				font-size     : 13px;
				color         : map-get($mau, main);
			}

			h1 {
				font-size: 28px;
				color    : map-get($mau, main);

				span {
					color: map-get($mau, main-2);
				}
			}

			p {
				font-size: 16px;
				color    : #5d5d5d;
			}
		}
	}

	@media (max-width: 575.98px) {
		figure {

			img {
				display: none;
			}

			figcaption {
				text-align: center;
				margin-top: 10px;

				h5 {
					display: none;
				}

				h1 {
					font-size: 24px;
				}
			}
		}
	}
}

.rate {
	display      : flex;
	align-items  : center;
	flex-wrap    : wrap;
	margin-bottom: 10px;

	.img-star {
		cursor      : pointer;
		position    : relative;
		flex        : 0 0 75px;
		width       : 75px;
		height      : 23px;
		margin-left : -4px;
		margin-right: 20px;
	}

	.star {
		background-image : url(../assets/icons/star-nofull.png);
		background-repeat: repeat-x;
		background-size  : 15px;
		height           : 100%;
	}

	.star-rated {
		position         : absolute;
		top              : 0;
		height           : 100%;
		background-image : url(../assets/icons/star-full.png);
		background-repeat: repeat-x;
		background-size  : 15px;
		z-index          : 3;
		pointer-events   : none;
	}

	@media(max-width: 1024px) {
		margin-bottom: 0;

		.img-star {
			cursor      : pointer;
			flex        : 0 0 90px;
			position    : relative;
			width       : 90px;
			height      : 18px;
			margin-right: 20px;
		}

		.star {
			background-size: 18px;
		}

		.star-rated {
			background-size: 18px;
		}
	}
}

.feature {
	position             : relative;
	width                : 100%;
	height               : 240px;
	margin               : 50px 0;
	background-image     : url(../assets/images/bg-feature-home.jpg);
	background-attachment: fixed;
	background-size      : cover;
	background-repeat    : no-repeat;
	background-position  : center;
	background-color     : #F5F5F5;

	.block-item {
		.img {
			height       : 100px;
			margin-bottom: 15px;

			img {
				display: block;
				margin : 0 auto;
			}
		}

		.content {
			text-align: center;
			color     : #ffffff;

			h3 {
				font-size    : 16px;
				margin-bottom: 20px;
			}

			p {
				font-size : 14px;
				font-style: italic;
			}
		}
	}

	&.no-bg-img {
		background-image: none;

		.block-item {
			.content {
				h3 {
					color: map-get($mau, main);
				}

				p {
					color: #909090;
				}
			}
		}
	}

	@media (max-width: 1024.98px) {
		padding: 50px 0 25px;
		height : unset;

		.item {
			border-right  : 1px solid #dedede;
			border-bottom : 1px solid #dedede;
			padding-bottom: 20px;

			&:nth-child(2),
			&:nth-child(4) {
				border-right: 0;
			}

			&:nth-child(3),
			&:nth-child(4) {
				padding-top: 20px;
			}

			&:nth-child(3) {
				border-bottom: 0;
			}

			&:nth-child(4) {
				border-bottom: 0;
			}
		}
	}

	@media (max-width: 767.98px) {
		padding: 25px 0;
		margin : 25px 0;
	}

	@media (max-width: 575.98px) {
		.block-item {
			.content {
				h3 {
					font-size    : 12px;
					margin-bottom: 0;
				}

				p {
					display: none;
				}
			}
		}
	}
}

.service-introduction {
	margin: 50px 0;

	.content-introduction {
		margin: 10px 0;

		p,
		a,
		strong,
		b,
		i {
			display      : block;
			font-size    : 16px;
			color        : grey;
			margin-bottom: 15px;
		}

		a {
			color: #007bff;
		}
	}

	@media (max-width: 767.98px) {
		margin: 25px 0;
	}

	@media (max-width: 575.98px) {
		.content-introduction {

			p,
			a,
			strong,
			b,
			i {
				font-size    : 14px;
				margin-bottom: 10px;
			}
		}
	}
}

.list-air-brand {
	display     : flex;
	flex-wrap   : wrap;
	align-items : center;
	margin-right: -15px;
	margin-left : -15px;

	.item-air-brand {
		-ms-flex        : 0 0 100%;
		-webkit-box-flex: 0;
		flex            : 0 0 16.6666666667%;
		max-width       : 16.6666666667%;
		padding-right   : 15px;
		padding-left    : 15px;
	}

	.img {
		img {
			display: block;
			margin : 0 auto;
		}
	}

	@media (max-width: 575.98px) {
		.item-air-brand {
			flex     : 0 0 25%;
			max-width: 25%;
		}
	}
}

.table-training-schedule {
	overflow-x: auto;

	table {
		width        : 100%;
		text-align   : center;
		margin-bottom: 5%;

		th {
			font-size     : 16px;
			font-weight   : 700;
			text-transform: uppercase;
		}

		td {
			font-size: 14px;

			p {
				margin-bottom: 10px;
			}
		}

		th,
		td {
			border : 1px solid map-get($mau, main);
			padding: 15px;
		}
	}

	@media (max-width: 575.98px) {
		max-width: 575px;

		table {
			th {
				font-size: 14px;
			}

			th,
			td {
				padding: 5px;
			}
		}
	}
}

.list-of-products,
.list-category-news {
	margin: 50px 0;

	.btn-view-more {
		width    : 100%;
		max-width: 120px;
		display  : block;
		margin   : 0 auto;
	}

	@media (max-width: 767.98px) {
		margin: 25px 0;
	}
}

.list-item {
	padding: 50px 0;

	@media (max-width: 767.98px) {
		padding: 25px 0;
	}
}

.hover-style-1 {
	.img {
		position: relative;

		&:after {
			content                   : "";
			pointer-events            : none;
			position                  : absolute;
			z-index                   : 99;
			top                       : 0;
			left                      : 0;
			right                     : 0;
			bottom                    : 0;
			background                : rgba(255, 255, 255, 0.5);
			transform                 : scaleX(0);
			transform-origin          : 0 50%;
			transition-property       : transform;
			transition-duration       : 0.5s;
			transition-timing-function: ease-out;
			z-index                   : 0;
		}
	}

	&.bg-blue {
		.img {
			&:after {
				background: rgba($color: map-get($mau, main), $alpha: .5);
			}
		}
	}

	@media (min-width: 1025px) {
		&:hover {
			.img {
				&:after {
					transform                 : scaleX(1);
					transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
				}
			}

			.box-info {
				&:before {
					transform: rotate(180deg);
				}
			}
		}
	}
}

.item-product {
	margin-bottom: 3%;

	.block-item {
		position: relative;

		.img {
			position: relative;
			height  : 240px;

			&.isVideo {
				&:before {
					content         : '';
					position        : absolute;
					top             : 50%;
					left            : 50%;
					width           : 74px;
					height          : 74px;
					transform       : translate(-50%, -50%);
					background-image: url(../assets/icons/btn-play.png);
					background-size : cover;
					pointer-events  : none;
					z-index         : 1;
				}
			}
		}

		.content {
			padding    : 0 10px 10px 10px;
			border     : 1px solid rgba(0, 0, 0, 0.2);
			border-left: 1px solid rgba(0, 0, 0, 0.05);
			border-top : unset;
			box-shadow : 2px 2px 3px rgba(0, 0, 0, 0.3);
		}

		.box-info {
			position  : relative;
			padding   : 25px 30px 15px 30px;
			border    : 1px solid #8fb8c7;
			border-top: 0;

			&:after {
				content      : '';
				position     : absolute;
				bottom       : 0;
				right        : 0;
				width        : 0;
				height       : 0;
				border-bottom: 60px solid #dde5ea;
				border-left  : 80px solid transparent;
			}

			&:before {
				content   : '+';
				color     : map-get($mau, main);
				font-size : 20px;
				position  : absolute;
				bottom    : 5px;
				right     : 15px;
				z-index   : 1;
				transition: .3s all ease-in-out;
			}
		}

		h2 {
			font-size     : 17px;
			color         : map-get($mau, main);
			margin-bottom : 15px;
			text-transform: uppercase;
		}

		time,
		.counting-days,
		.address,
		.car-brand,
		.car-seat {
			font-size    : 16px;
			color        : #5d5d5d;
			position     : relative;
			padding-left : 25px;
			margin-bottom: 10px;

			&:after {
				content          : '';
				position         : absolute;
				left             : 0;
				top              : 2px;
				width            : 17px;
				height           : 17px;
				background-repeat: no-repeat;
			}
		}

		.text {
			font-size    : 16px;
			color        : #5d5d5d;
			margin-bottom: 10px;
		}

		time {
			&:after {
				background-image: url(../assets/icons/clock.png);
			}
		}

		.address {
			&:after {
				background-image: url(../assets/icons/address.png);
			}
		}

		.car-brand,
		.car-seat {
			&:after {
				background-image: url(../assets/icons/car-info.png);
			}
		}

		.counting-days {
			display: inline-flex;

			&:after {
				background-image: url(../assets/icons/date-time.png);
			}
		}

		.mode-of-transport {
			display      : inline-flex;
			align-items  : center;
			margin-left  : 30%;
			margin-bottom: 15px;

			.item {
				margin-right: 10px;

				img {
					width : 30px;
					height: 30px;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}

		.price {
			font-size  : 30px;
			font-weight: 700;
			margin-top : 15px;
			color      : map-get($mau, main-2);

			&.hotel {
				font-size: 18px;
			}
		}

		&:after {
			position         : absolute;
			z-index          : 100;
			width            : 51px;
			height           : 52px;
			background       : url(../assets/icons/hot-tag.png);
			background-size  : 100% 100%;
			background-repeat: no-repeat;
			top              : -8px;
			left             : 10px;
		}
	}

	&[data-hot=true] {
		.block-item {
			&:after {
				content: '';
			}
		}
	}

	@media (max-width: 767.98px) {
		margin-bottom: 10%;

		.block-item {
			.mode-of-transport {
				margin-left: 10%;
			}
		}
	}
}

.item-category-news {
	padding      : 30px 0;
	border-bottom: 1px solid rgba(1, 82, 117, 0.4);

	&:first-child {
		padding-top: 0;
	}

	.block-item {
		.img {
			height: 260px;
		}

		.content {
			h2 {
				font-size: 24px;
			}

			p {
				font-size: 16px;
				color    : #5d5d5d;
				margin   : 3% 0 2% 0;
			}

			span {
				font-size: 18px;
			}
		}
	}

	@media (max-width: 1024.98px) {
		.block-item {
			.img {
				height: 200px;
			}
		}
	}

	@media (max-width: 575.98px) {
		.block-item {
			.img {
				margin-bottom: 25px;
			}
		}

		.content {
			h2 {
				font-size: 18px;
			}

			p {
				font-size: 14px;
			}

			span {
				text-align: left;
				font-size : 14px;
			}
		}
	}
}

.other-products {
	.title {
		margin-bottom: 15px;

		h2 {
			font-size: 18px;
		}

		span {
			font-size: 14px;
		}
	}

	.other-product__item {
		position: relative;

		.img {
			position: relative;
			height  : 200px;

			.read-more {
				position     : absolute;
				right        : 20px;
				bottom       : 20px;
				font-size    : 14px;
				color        : #fff;
				z-index      : 2;
				opacity      : 0;
				transition   : .3s all ease-in-out;
				padding-right: 35px;

				&:after {
					content         : '';
					position        : absolute;
					right           : 0;
					top             : 50%;
					transform       : translateY(-50%);
					width           : 26px;
					height          : 17px;
					background-image: url(../assets/icons/arrow-read-more.png);
					background-size : cover;
				}
			}
		}

		+.other-product__item {
			margin-top: 25px;
		}

		.text {
			padding   : 10px;
			background: #dadddf;

			h3 {
				font-size: 14px;
			}
		}

		@media (min-width: 1025px) {
			&:hover {
				.img {
					.read-more {
						opacity: 1;
					}
				}
			}
		}
	}

	@media (max-width: 575.98px) {
		padding-top: 50px;
	}
}

.list-item-other-day-tour {
	margin: 50px 0;

	@media (max-width: 767.98px) {
		margin: 25px 0;
	}
}

.item__other-day-tour {
	display      : flex;
	flex-wrap    : wrap;
	margin-bottom: 25px;

	.item__img {
		-ms-flex        : 0 0 100%;
		-webkit-box-flex: 0;
		flex            : 0 0 33.33333%;
		max-width       : 33.33333%;
		height          : 260px;
	}

	.item__content {
		-webkit-box-flex: 0;
		flex            : 0 0 66.666667%;
		max-width       : 66.666667%;
		background-color: #e7ebed;
		padding         : 20px;
	}

	.content__top {
		display: flex;

		h2 {
			color       : #5d5d5d;
			font-size   : 18px;
			padding-left: 25px;
		}

		time {
			display       : flex;
			flex-direction: column;
			font-family   : srg;
			font-size     : 30px;
			padding-bottom: 10px;
			border-bottom : 2px solid map-get($mau, main);
			line-height   : 1;

			span {
				&:last-child {
					font-size : 18px;
					margin-top: 10px;
				}
			}
		}
	}

	.content__bottom {
		margin-top: 15px;

		.list-info-tour {
			color       : #5d5d5d;
			border-right: 1px solid map-get($mau, main);

			.item {
				margin-bottom: 5px;

				p {
					display    : flex;
					align-items: center;
					font-size  : 18px;
					font-weight: 700;
				}

				span {
					padding-left: 20px;
					font-weight : 400;
					max-width   : 80%;
				}
			}
		}

		.price {
			padding         : 5px 10px;
			border          : 1px dashed #005da4;
			background-color: #ffffff;
			color           : #ff0000;
			font-size       : 24px;
			margin          : 0 auto 15px;
			text-align      : center;
		}
	}

	@media (max-width: 1024.98px) {
		.item__img {
			height: 351px;
		}

		.item__img,
		.item__content {
			flex     : 0 0 50%;
			max-width: 50%;
		}

		.content__bottom {
			.list-info-tour {
				border-right: 0;
			}
		}
	}

	@media (max-width: 767.98px) {

		.item__img,
		.item__content {
			flex     : 0 0 100%;
			max-width: 100%;
		}

		.item__img {
			height: 260px;
		}
	}

	@media (max-width: 575.98px) {
		.content__bottom {
			.list-info-tour {
				.item {
					p {
						font-size: 14px;
					}
				}
			}

			.price {
				font-size: 18px;
			}
		}
	}
}