#back-top {
	cursor        : pointer;
	position      : fixed;
	bottom        : 25px;
	right         : 25px;
	z-index       : 300;
	opacity       : 0;
	pointer-events: none;

	&.active {
		pointer-events: visible;
		opacity       : 1;
		pointer-events: static;
	}

	@media (max-width: 1024.98px) {
		display: none;
	}
}

#phone-call {
	cursor  : pointer;
	position: fixed;
	right   : 3.5%;
	top     : 50%;
	z-index : 200;

	.phone-fixed {
		position        : relative;
		display         : block;
		margin          : 0;
		width           : 1em;
		height          : 1em;
		font-size       : 7vmin;
		background-color: map-get($mau, main);
		border-radius   : 0.5em;
		box-shadow      :
			0 0 0 0em rgba(map-get($mau, main), 0),
			0em 0.05em 0.1em rgba(#000000, 0.2);
		transform: translate3d(0, 0, 0) scale(1);

		@media (max-width: 767.98px) {
			font-size: 12vmin;
		}
	}

	.phone-fixed::before,
	.phone-fixed::after {
		position: absolute;
		content : "";
	}

	.phone-fixed::before {
		top             : 0;
		left            : 0;
		width           : 1em;
		height          : 1em;
		background-color: rgba(#fff, 0.1);
		border-radius   : 100%;
		opacity         : 1;
		transform       : translate3d(0, 0, 0) scale(0);
	}

	.phone-fixed::after {
		top                : 0.3em;
		left               : 0.3em;
		width              : 0.4em;
		height             : 0.4em;
		background         : url(../assets/icons/phone-fixed.webp);
		background-position: 50% 50%;
		background-repeat  : no-repeat;
		background-size    : cover;
		transform          : translate3d(0, 0, 0);
	}

	.phone-fixed.is-animating {
		animation: phone-outer 3000ms infinite;

		&::before {
			animation: phone-inner 3000ms infinite;
		}

		&::after {
			animation: phone-icon 3000ms infinite;
		}
	}

	@keyframes phone-outer {
		0% {
			transform: translate3d(0, 0, 0) scale(1);
			box-shadow:
				0 0 0 0em rgba(#3498db, 0),
				0em 0.05em 0.1em rgba(#000000, 0.2);
		}

		33.3333% {
			transform: translate3d(0, 0, 0) scale(1.1);
			box-shadow:
				0 0 0 0em rgba(#3498db, 0.1),
				0em 0.05em 0.1em rgba(#000000, 0.5);
		}

		66.6666% {
			transform: translate3d(0, 0, 0) scale(1);
			box-shadow:
				0 0 0 0.5em rgba(#3498db, 0),
				0em 0.05em 0.1em rgba(#000000, 0.2);
		}

		100% {
			transform: translate3d(0, 0, 0) scale(1);
			box-shadow:
				0 0 0 0em rgba(#3498db, 0),
				0em 0.05em 0.1em rgba(#000000, 0.2);
		}
	}

	@keyframes phone-inner {
		0% {
			opacity  : 1;
			transform: translate3d(0, 0, 0) scale(0);
		}

		33.3333% {
			opacity  : 1;
			transform: translate3d(0, 0, 0) scale(0.9);
		}

		66.6666% {
			opacity  : 0;
			transform: translate3d(0, 0, 0) scale(0);
		}

		100% {
			opacity  : 0;
			transform: translate3d(0, 0, 0) scale(0);
		}
	}

	@keyframes phone-icon {
		0% {
			transform: translate3d(0em, 0, 0);
		}

		2% {
			transform: translate3d(0.01em, 0, 0);
		}

		4% {
			transform: translate3d(-0.01em, 0, 0);
		}

		6% {
			transform: translate3d(0.01em, 0, 0);
		}

		8% {
			transform: translate3d(-0.01em, 0, 0);
		}

		10% {
			transform: translate3d(0.01em, 0, 0);
		}

		12% {
			transform: translate3d(-0.01em, 0, 0);
		}

		14% {
			transform: translate3d(0.01em, 0, 0);
		}

		16% {
			transform: translate3d(-0.01em, 0, 0);
		}

		18% {
			transform: translate3d(0.01em, 0, 0);
		}

		20% {
			transform: translate3d(-0.01em, 0, 0);
		}

		22% {
			transform: translate3d(0.01em, 0, 0);
		}

		24% {
			transform: translate3d(-0.01em, 0, 0);
		}

		26% {
			transform: translate3d(0.01em, 0, 0);
		}

		28% {
			transform: translate3d(-0.01em, 0, 0);
		}

		30% {
			transform: translate3d(0.01em, 0, 0);
		}

		32% {
			transform: translate3d(-0.01em, 0, 0);
		}

		34% {
			transform: translate3d(0.01em, 0, 0);
		}

		36% {
			transform: translate3d(-0.01em, 0, 0);
		}

		38% {
			transform: translate3d(0.01em, 0, 0);
		}

		40% {
			transform: translate3d(-0.01em, 0, 0);
		}

		42% {
			transform: translate3d(0.01em, 0, 0);
		}

		44% {
			transform: translate3d(-0.01em, 0, 0);
		}

		46% {
			transform: translate3d(0em, 0, 0);
		}
	}
}

.blur-up {
	filter    : blur(10px);
	transition: filter 1s;

	&.lazyloaded {
		filter: blur(0);
	}
}

.ofcv {
	width          : 100%;
	height         : 100%;
	object-fit     : cover;
	object-position: center;
	font-family    : 'object-fit: cover, object-position: center';
	background-size: cover;
}

.ofct {
	width          : 100%;
	height         : 100%;
	object-fit     : contain;
	object-position: center;
	font-family    : 'object-fit: contain, object-position: center';
	background-size: contain;
}

.blur-up {
	filter    : blur(10px);
	transition: filter 1s;

	&.lazy-loaded {
		filter: blur(0);
	}
}

.clearfix {
	&:after {
		content: '';
		display: table;
		clear  : both;
	}
}

.lcl {
	overflow          : hidden;
	display           : -webkit-box;
	text-overflow     : ellipsis;
	-webkit-box-orient: vertical;

	&-1 {
		-webkit-line-clamp: 1;
	}

	&-2 {
		-webkit-line-clamp: 2;
	}

	&-3 {
		-webkit-line-clamp: 3;
	}
}