#back-top {
	cursor        : pointer;
	position      : fixed;
	bottom        : 25px;
	right         : 25px;
	z-index       : 300;
	opacity       : 0;
	pointer-events: none;

	&.active {
		pointer-events: visible;
		opacity       : 1;
		pointer-events: static;
	}

	@media (max-width: 1024.98px) {
		display: none;
	}
}

#phone-call {
	cursor  : pointer;
	position: fixed;
	right   : 3.5%;
	top     : 50%;
	z-index : 200;

	.phone-fixed {
		position        : relative;
		display         : block;
		margin          : 0;
		width           : 1em;
		height          : 1em;
		font-size       : 7vmin;
		background-color: map-get($mau, main);
		border-radius   : 0.5em;
		box-shadow      :
			0 0 0 0em rgba(map-get($mau, main), 0),
			0em 0.05em 0.1em rgba(#000000, 0.2);
		transform: translate3d(0, 0, 0) scale(1);

		@media (max-width: 767.98px) {
			font-size: 12vmin;
		}
	}

	.phone-fixed::before,
	.phone-fixed::after {
		position: absolute;
		content : "";
	}

	.phone-fixed::before {
		top             : 0;
		left            : 0;
		width           : 1em;
		height          : 1em;
		background-color: rgba(#fff, 0.1);
		border-radius   : 100%;
		opacity         : 1;
		transform       : translate3d(0, 0, 0) scale(0);
	}

	.phone-fixed::after {
		top                : 0.3em;
		left               : 0.3em;
		width              : 0.4em;
		height             : 0.4em;
		background         : url(../assets/icons/phone-fixed.png);
		background-position: 50% 50%;
		background-repeat  : no-repeat;
		background-size    : cover;
		transform          : translate3d(0, 0, 0);
	}

	.phone-fixed.is-animating {
		animation: phone-outer 3000ms infinite;

		&::before {
			animation: phone-inner 3000ms infinite;
		}

		&::after {
			animation: phone-icon 3000ms infinite;
		}
	}

	@keyframes phone-outer {
		0% {
			transform: translate3d(0, 0, 0) scale(1);
			box-shadow:
				0 0 0 0em rgba(#3498db, 0),
				0em 0.05em 0.1em rgba(#000000, 0.2);
		}

		33.3333% {
			transform: translate3d(0, 0, 0) scale(1.1);
			box-shadow:
				0 0 0 0em rgba(#3498db, 0.1),
				0em 0.05em 0.1em rgba(#000000, 0.5);
		}

		66.6666% {
			transform: translate3d(0, 0, 0) scale(1);
			box-shadow:
				0 0 0 0.5em rgba(#3498db, 0),
				0em 0.05em 0.1em rgba(#000000, 0.2);
		}

		100% {
			transform: translate3d(0, 0, 0) scale(1);
			box-shadow:
				0 0 0 0em rgba(#3498db, 0),
				0em 0.05em 0.1em rgba(#000000, 0.2);
		}
	}

	@keyframes phone-inner {
		0% {
			opacity  : 1;
			transform: translate3d(0, 0, 0) scale(0);
		}

		33.3333% {
			opacity  : 1;
			transform: translate3d(0, 0, 0) scale(0.9);
		}

		66.6666% {
			opacity  : 0;
			transform: translate3d(0, 0, 0) scale(0);
		}

		100% {
			opacity  : 0;
			transform: translate3d(0, 0, 0) scale(0);
		}
	}

	@keyframes phone-icon {
		0% {
			transform: translate3d(0em, 0, 0);
		}

		2% {
			transform: translate3d(0.01em, 0, 0);
		}

		4% {
			transform: translate3d(-0.01em, 0, 0);
		}

		6% {
			transform: translate3d(0.01em, 0, 0);
		}

		8% {
			transform: translate3d(-0.01em, 0, 0);
		}

		10% {
			transform: translate3d(0.01em, 0, 0);
		}

		12% {
			transform: translate3d(-0.01em, 0, 0);
		}

		14% {
			transform: translate3d(0.01em, 0, 0);
		}

		16% {
			transform: translate3d(-0.01em, 0, 0);
		}

		18% {
			transform: translate3d(0.01em, 0, 0);
		}

		20% {
			transform: translate3d(-0.01em, 0, 0);
		}

		22% {
			transform: translate3d(0.01em, 0, 0);
		}

		24% {
			transform: translate3d(-0.01em, 0, 0);
		}

		26% {
			transform: translate3d(0.01em, 0, 0);
		}

		28% {
			transform: translate3d(-0.01em, 0, 0);
		}

		30% {
			transform: translate3d(0.01em, 0, 0);
		}

		32% {
			transform: translate3d(-0.01em, 0, 0);
		}

		34% {
			transform: translate3d(0.01em, 0, 0);
		}

		36% {
			transform: translate3d(-0.01em, 0, 0);
		}

		38% {
			transform: translate3d(0.01em, 0, 0);
		}

		40% {
			transform: translate3d(-0.01em, 0, 0);
		}

		42% {
			transform: translate3d(0.01em, 0, 0);
		}

		44% {
			transform: translate3d(-0.01em, 0, 0);
		}

		46% {
			transform: translate3d(0em, 0, 0);
		}
	}
}

.tab-container {
	.list-tab {
		.item {
			cursor     : pointer;
			user-select: none;
		}
	}

	.tab-content {
		.content {
			display   : none;
			opacity   : 0;
			transition: all .3s cubic-bezier(.2, .5, .5, .8);

			&.show {
				opacity: 1;
			}
		}
	}
}

.form-row {
	display  : flex;
	flex-wrap: wrap;
}

.blur-up {
	filter    : blur(10px);
	transition: filter 1s;

	&.lazyloaded {
		filter: blur(0);
	}
}

.ofcv {
	width          : 100%;
	height         : 100%;
	object-fit     : cover;
	object-position: center;
	font-family    : 'object-fit: cover, object-position: center';
	background-size: cover;
}

.ofct {
	width          : 100%;
	height         : 100%;
	object-fit     : contain;
	object-position: center;
	font-family    : 'object-fit: contain, object-position: center';
	background-size: contain;
}

.blur-up {
	filter    : blur(10px);
	transition: filter 1s;

	&.lazy-loaded {
		filter: blur(0);
	}
}

.clearfix {
	&:after {
		content: '';
		display: table;
		clear  : both;
	}
}

.lcl {
	overflow          : hidden;
	display           : -webkit-box;
	text-overflow     : ellipsis;
	-webkit-box-orient: vertical;

	&-1 {
		-webkit-line-clamp: 1;
	}

	&-2 {
		-webkit-line-clamp: 2;
	}

	&-3 {
		-webkit-line-clamp: 3;
	}
}

.block-title {
	.title {
		position: relative;
		height  : 60px;

		h2 {
			position        : absolute;
			top             : 50%;
			left            : 50%;
			transform       : translate(-50%, -50%);
			color           : map-get($mau, main-2);
			font-size       : 28px;
			text-transform  : uppercase;
			background-color: #fff;
			z-index         : 1;
			padding         : 0 20px;
		}

		&:after {
			content   : '';
			position  : absolute;
			top       : 50%;
			left      : 0;
			width     : 100%;
			left      : 0;
			height    : 1px;
			background: map-get($mau, main);
		}
	}

	.desc {
		max-width: 70%;
		width    : 100%;
		margin   : 0 auto;

		p {
			color     : #5d5d5d;
			text-align: center;
		}
	}
}

.sticker {
	figure {
		display        : flex;
		justify-content: center;

		figcaption {
			margin-top: 15px;
			text-align: right;

			h5 {
				text-transform: uppercase;
				font-size     : 13px;
				color         : map-get($mau, main);
			}

			h1 {
				font-size: 28px;
				color    : map-get($mau, main);

				span {
					color: map-get($mau, main-2);
				}
			}

			p {
				font-size: 16px;
				color    : #5d5d5d;
			}
		}
	}
}

.index-list-tour-index {
	margin: 50px 0;
}

.list-item {
	margin-top: 50px;
}

.item-product {
	margin-bottom: 3%;

	figure {
		position: relative;

		.img {
			height: 240px;
		}

		figcaption {
			padding    : 0 10px 10px 10px;
			border     : 1px solid rgba(0, 0, 0, 0.2);
			border-left: 1px solid rgba(0, 0, 0, 0.05);
			border-top : unset;
			box-shadow : 2px 2px 3px rgba(0, 0, 0, 0.3);
		}

		.box-info {
			position  : relative;
			padding   : 25px 30px 15px 30px;
			border    : 1px solid #8fb8c7;
			border-top: 0;

			&:after {
				content      : '';
				position     : absolute;
				bottom       : 0;
				right        : 0;
				width        : 0;
				height       : 0;
				border-bottom: 60px solid #dde5ea;
				border-left  : 80px solid transparent;
			}

			&:before {
				content  : '+';
				color    : map-get($mau, main);
				font-size: 20px;
				position : absolute;
				bottom   : 5px;
				right    : 15px;
				z-index  : 1;
			}
		}

		h2 {
			font-size    : 17px;
			color        : map-get($mau, main);
			margin-bottom: 15px;
		}

		time,
		.counting-days {
			font-size    : 16px;
			color        : #5d5d5d;
			position     : relative;
			padding-left : 25px;
			margin-bottom: 10px;

			&:after {
				content          : '';
				position         : absolute;
				left             : 0;
				top              : 50%;
				width            : 17px;
				height           : 17px;
				transform        : translateY(-50%);
				background-repeat: no-repeat;
			}
		}

		time {
			&:after {
				background-image: url(../assets/icons/clock.png);
			}
		}

		.counting-days {
			display: inline-flex;

			&:after {
				background-image: url(../assets/icons/date-time.png);
			}
		}

		.mode-of-transport {
			display      : inline-flex;
			align-items  : center;
			margin-left  : 30%;
			margin-bottom: 15px;

			.item {
				margin-right: 10px;

				img {
					width : 30px;
					height: 30px;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}

		.price {
			font-size : 30px;
			margin-top: 15px;
			color     : map-get($mau, main-2);
		}

		&:after {
			position         : absolute;
			z-index          : 100;
			width            : 51px;
			height           : 52px;
			background       : url(../assets/icons/hot-tag.png);
			background-size  : 100% 100%;
			background-repeat: no-repeat;
			top              : -8px;
			left             : 10px;
		}
	}

	&[data-hot=true] {
		figure {
			&:after {
				content: '';
			}
		}
	}
}