section.service-introduction
	.container
		.block-title.color-blue.text-left
			.title
				h2.lcl.lcl-1 THÔNG TIN TỔNG QUAN
		.content-introduction
			p Du lịch Hòa Bình - Đại lý vé máy bay chuyên nghiệp với dịch vụ chất lượng hàng đầu tại Việt Nam
			p Du lịch Hòa Bình là nơi chuyên cung cấp vé máy bay chất lượng đi quốc tế và trong nước với mức giá hợp lý nhất cùng nhiều dịch vụ chăm sóc chu đáo, nhiệt tình của đội ngũ nhân viên luôn mang tới cho khách hàng sự tin tưởng, thoải mái, niềm vui và thành công trên mọi chuyến bay.
			p Hiện tại Du lịch Hòa Bình là tổng đại lý phân phối vé máy bay giá rẻ chính thức cho các hãng hàng không trong nước và quốc tế như Vietnam Airlines, Jetstar Pacific, VietJet Air, Air France, China Airlines, Eva Air, Korean Airlines, Singapore Airlines, Qatar Airways, Qantas Airways, Lufthansa,....và rất nhiều hãng hàng không khác.
			p Với đội ngũ nhân viên tư vấn và book vé máy bay giàu kinh nghiệm vững chuyên môn sẽ làm hài lòng những khách hàng khó tính nhất bằng những đường bay đẹp với chi phí tối ưu. Đến với Du lịch Hòa Bình khách hàng sẽ tự tin làm chủ được hành trình bay của mình với chi phí phù hợp, nhiều sự lựa chọn và so sánh giữa nhiều hãng hàng không cùng phương thức thanh toán đơn giản, linh hoạt.
			p Bạn đang tìm kiếm nhà cung cấp vé máy bay cho hành trình của mình? Hãy liên hệ Du lịch Hòa Bình để tìm được giá vé tốt nhất, đường bay đẹp nhất ngay hôm nay.
			a(href="http://103.9.156.117:50010/news/quy-dinh-hang-khong-viet-nam-airlines") Quy định hãng hàng không Việt Nam Airlines
			a(href="http://103.9.156.117:50010/news/quy-dinh-hang-khong-jetstar-pacific") Quy định hãng hàng không Jetstar Pacific
			a(href="http://103.9.156.117:50010/news/quy-dinh-hang-khong-vietjet-air") Quy dịnh hãng hàng không Vietjet Air
			a(href="http://103.9.156.117:50010/news/quy-dinh-hang-khong-bamboo-airways") Quy định hàng không Bamboo Airways
		.block-title.color-blue.text-left
			.title
				h2.lcl.lcl-1 THÔNG TIN KHUYẾN MÃI
		.content-introduction
			a(href="#") *** Khuyến mãi của Hong kong Airlines: SGN - YVR giá chỉ 245$
			a(href="#") *** Khuyến Mãi Chặng Bay Hồ Chí Minh - Los Angeles
			a(href="#") *** Bamboo Airways Khuyến Mãi Lớn Mừng Đường Bay Mới
			a(href="#") *** ĐĂNG KÝ BÔNG SEN VÀNG – NHẬN 2000 DẶM THƯỞNG
			a(href="#") *** Vietjet chào đường bay mới Đà Nẵng – Đài Bắc
			a(href="#") *** Vietnam Airlines giảm giá cực sốc cho các chặng trong nước
			a(href="#") *** Giá áp dụng đặc biệt dành riêng hành trình từ TP.HCM đi Thái Lan và Singapore củaVietnam Airlines
			a(href="#") ***Chương trình " thứ 5 rực rỡ" của hãng Vietnam Airline và Jetstar Pacific
			a(href="#") *** Chương trình dịch vụ hạng phổ thông đặc biệt chặng Hà Nội - Hồ Chí Minh
		.block-title.color-blue.text-left
			.title
				h2.lcl.lcl-1 HÃNG HÀNG KHÔNG
		.content-introduction
			ul.list-air-brand
				-for(i=1;i<18;i++)
					li.item-air-brand
						.img
							img.lazyload.blur-up(data-src="./assets/images/air-brand/"+i+".jpeg", alt="HANG-HANG-KHONG")