section.hot-tour
	.container
		.sticker
			figure
				figcaption
					h5 du lịch hòa bình
					h1 TOUR 
						span NỔI BẬT
					p.lcl.lcl-2 Tour giá ưu đãi, các chùm tour lễ, tết đang hút khách, 
						br
						| thông tin chương trình giảm giá, khuyến mãi
				img(src="./assets/images/sticker-hot-tour.png", alt="HOT-TOUR")
		.slider-hot-tour
			.swiper-container
				.swiper-wrapper
					.swiper-slide.item-hot-tour
						a(href="#")
							figure
								img(src="./assets/images/hot-tour/1.jpg", alt="HOT-TOUR-ONE")
								figcaption
									.description
										.number 07
										.text-day ngày
										.country anh
										time 12-07-2020
									.block-price
										.price 13,965,000
										.currency VNĐ
					.swiper-slide.item-hot-tour
						a(href="#")
							figure
								img(src="./assets/images/hot-tour/2.jpg", alt="HOT-TOUR-TWO")
								figcaption
									.description
										.number 07
										.text-day ngày
										.country đức
										time 12-07-2020
									.block-price
										.price 13,965,000
										.currency VNĐ
					.swiper-slide.item-hot-tour
						a(href="#")
							figure
								img(src="./assets/images/hot-tour/3.jpg", alt="HOT-TOUR-THREE")
								figcaption
									.description
										.number 05
										.text-day ngày
										.country nha trang
										time 11-04-2020
									.block-price
										.price 3,598,000
										.currency VNĐ
			.swiper-pagination