section.index-2
	.container
		.block-title
			.title
				h2.lcl.lcl-1 trong nước
			.desc
				p Du lịch trong nước luôn là một lựa chọn tuyệt vời cho các dịp du lịch mùa nghỉ lễ, Tết. Tour du lịch khám phá những danh lam thắng cảnh nổi tiếng, di tích lịch sử hào hùng luôn mang đến những trải nghiệm khám phá thú vị trên nền văn hóa giàu bản sắc hàng ngàn năm lịch sử của dân tộc Việt Nam.
		.row.list-item
			-for(j=1;j<7;j++)
				.item-product.col-lg-4.col-md-3
					figure
						.img.ov-h
							img.ofcv.lazyload.blur-up(data-src="./assets/images/item/index-1/"+j+".jpg", alt="TOUR-DU-LICH-HOA-BINH")
						figcaption
							h2 Tên Tou Du Lịch
							.counting-days 3 ngày 2 đêm
							.mode-of-transport
								.item
									img.lazyload.blur-up(data-src="./assets/icons/car.png", alt="CART")
								.item
									img.lazyload.blur-up(data-src="./assets/icons/airplan.png", alt="AIRPLAN")
							time 17/04/2020