section.list-of-products
	.container
		.block-title
			.title
				h2.lcl.lcl-1 nước ngoài
			.desc
				p Khám phá những miền đất mới luôn là khao khát của những người đam mê du lịch. Với nhiều năm kinh nghiệm tổ chức tour du lịch nước ngoài, Du lịch Hòa Bình luôn là một trong những người bạn đồng hành đáng tin cậy nhất trong các chuyến tham quan và trải nghiệm những nét đặc sắc của các quốc gia Châu Á, châu Âu, Úc, Mỹ...
		.row.list-item
			-for(z=7;z<10;z++)
				// BLOCK SẢN PHẦM - DATA HOT = TRUE => XUẤT HIỆN TAG HOT
				.item-product.col-lg-4.col-md-6(data-hot="true")
					a(href="product-detail--tour.html")
						.block-item.hover-style-1
							.img.ov-h
								img.ofcv.lazyload.blur-up(data-src="./assets/images/item/"+z+".jpeg", alt="TOUR-DU-LICH-HOA-BINH")
							.content
								.box-info
									h2 Tên Tour Du Lịch
									.counting-days 3 ngày 2 đêm
									.mode-of-transport
										.item
											img.lazyload.blur-up(data-src="./assets/icons/car.png", alt="CART")
										.item
											img.lazyload.blur-up(data-src="./assets/icons/airplan.png", alt="AIRPLAN")
									time 17/04/2020
									.price 2,375,000 VNĐ
			-for(x=10;x<12;x++)
				// BLOCK SẢN PHẦM - DATA HOT = TRUE => XUẤT HIỆN TAG HOT
				.item-product.col-lg-4.col-md-6(data-hot="false")
					a(href="product-detail--tour.html")
						.block-item.hover-style-1
							.img.ov-h
								img.ofcv.lazyload.blur-up(data-src="./assets/images/item/"+x+".jpeg", alt="TOUR-DU-LICH-HOA-BINH")
							.content
								.box-info
									h2 Tên Tour Du Lịch
									.counting-days 3 ngày 2 đêm
									.mode-of-transport
										.item
											img.lazyload.blur-up(data-src="./assets/icons/car.png", alt="CART")
										.item
											img.lazyload.blur-up(data-src="./assets/icons/airplan.png", alt="AIRPLAN")
									time 17/04/2020
									.price 2,375,000 VNĐ
		a(href="products-tour.html").btn.btn-view-more Xem thêm