section.home-news
	.container
		.block-title.color-blue
			.title
				h2.lcl.lcl-1 tin tin tức - dịch vụ
			.desc
				p Cập nhật tin tức và kinh nghiệm du lịch trong nước và nước ngoài
		.row
			.col-lg-6.col-news
				.list-home-news
					.item-home-news
						a(href="news-detail.html")
							.img.ov-h
								img.ofcv.lazyload.blur-up(src="./assets/images/news/1.jpeg", alt="TIN-TUC-HOA-BINH")
							.content
								h2.lcl.lcl-1 Du lịch Đức: Phần 7 - Các điểm tham quan tại Hannover
								time 1/5/2019
								p.lcl.lcl-2 Là thủ phủ của bang Niedersachsen, Đức. Thành phố Hanover nổi tiếng với các hoạt động thương mại và hội nghị quốc tế: Hội chợ CeBIT và Hội chợ Hannover là hai hội chợ quốc tế lớn được tổ chức hằng năm tại đây. Khu phố cổ ở thành phố Hanover thu hút mọi người bởi dáng vẻ lâu đời.
					.item-home-news
						a(href="news-detail.html")
							.content
								h2.lcl.lcl-1 Du lịch Đức: Phần 8 - Các điểm tham quan tại Hamburg
					.item-home-news
						a(href="news-detail.html")
							.content
								h2.lcl.lcl-1 KHUYẾN MÃI TÀU CAO TỐC RẠCH GIÁ - PHÚ QUỐC
					.item-home-news
						a(href="news-detail.html")
							.content
								h2.lcl.lcl-1 SINH NHẬT RỘN RÀNG – NGẬP TRÀN ƯU ĐÃI
					.item-home-news
						a(href="news-detail.html")
							.content
								h2.lcl.lcl-1 Vietnam Airlines giảm giá cực sốc cho các chặng trong nước
					.item-home-news
						a(href="news-detail.html")
							.content
								h2.lcl.lcl-1 Thông báo của các hãng hàng không
					.item-home-news
						a(href="news-detail.html")
							.content
								h2.lcl.lcl-1 Giá áp dụng đặc biệt dành riêng hành trình từ TP.HCM đi Thái Lan và Singapore của Vietnam Airlines
				a(href="category-news.html").view-more.view-more-list-news Xem thêm
			.col-lg-6.col-videos
				.list-home-videos
					.item-home-videos
						.block-video
							.youtube-api(data-url="https://www.youtube.com/watch?v=_jQSP0y32Rk&feature=emb_title")
					.item-home-videos
						.block-video
							.youtube-api(data-url="https://www.youtube.com/watch?v=ToedE6sFXts&feature=emb_title")
					.item-home-videos
						.block-video
							.youtube-api(data-url="https://www.youtube.com/watch?v=ToedE6sFXts&feature=emb_title")
					.item-home-videos
						.block-video
							a(href="library-video.html").view-more.view-more-videos Xem thêm